doctype html
html.no-js(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')

    title NEWSLINKS

    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href="bower_components/slick-carousel/slick/slick.css")
    link(rel='stylesheet', href="bower_components/magnific-popup/dist/magnific-popup.css")
    link(rel='stylesheet', href="bower_components/jquery-selectric/public/selectric.css")
    link(rel='stylesheet', href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css")
    link(rel='stylesheet', href="bower_components/datatables.net-dt/css/jquery.dataTables.min.css")
    link(rel='stylesheet', href="bower_components/protip/protip.min.css")
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body
  
    include ../common/_header_inner
    
    block content
      
    include ../common/_footer

    include ../modals/_all_modals

    block script

    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/magnific-popup/dist/jquery.magnific-popup.js')
    script(src='/bower_components/slick-carousel/slick/slick.js')
    script(src='/bower_components/jquery.maskedinput/dist/jquery.maskedinput.js')
    script(src='/bower_components/jquery-selectric/public/jquery.selectric.min.js')
    script(src='/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js')
    script(src='/bower_components/jquery-sticky/jquery.sticky.js')
    script(src='/bower_components/datatables.net/js/jquery.dataTables.min.js')
    script(src='/bower_components/protip/protip.min.js')
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild