.b_also_choose{
  padding: 30px 0 90px;

  .product_slider{
    margin: 0 -15px;
    padding: 0;

    @media (max-width: $screen-xs-max) {
      padding: 0 0 55px;
    }
  }

  .slide_item{
    padding: 0 15px;
  }

  .product_wrapper{
    display: block;
    font-size: 18px;
    color: #000000;

    @media (max-width: $screen-xs-max) {
      max-width: 465px;
      margin: 0 auto;
    }

    &:hover{
      .product_image{
        opacity: 0.6;
      }

      .product_title{
        text-decoration: underline;
      }
    }
  }

  .product_title{
    font-weight: 500;

    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }

  .product_image{
    height: 165px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
    border: 5px solid #929292;
    transition: all .2s linear;
    opacity: 0.3;
    background-color: #929292;
    margin: 0 0 15px;

    @media (max-width: $screen-xs-max) {
      height: auto;
      padding: 0 0 65%;
      margin: 0;
    }
  }
}