.b_basket {
  padding: 30px 0 100px;

  @media (max-width: $screen-xs-max) {
    font-size: 16px;
  }

  .page_title {
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 20px;

    @media (max-width: $screen-xs-max) {
      font-size: 30px;
    }
  }

  .basket_wrapper {
    border: 1px solid #929292;
  }

  .basket_row {
    padding: 30px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    +.basket_row {
      border-top: 1px solid #929292;
    }

    &.row_result {
      .basket_row_inner {
        width: 42%;

        @media (max-width: $screen-md-max) {
          width: 52%;
        }

        @media (max-width: $screen-xs-max) {
          width: 100%;
        }

        .row_content {
          width: 100%;
        }
      }

      .row_button {
        width: 58%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @media (max-width: $screen-md-max) {
          width: 48%;
        }

        @media (max-width: $screen-sm-max) {
          padding: 0 25px;
        }

        @media (max-width: $screen-xs-max) {
          padding: 25px 0 0;
          width: 100%;
        }

        .row_price {
          width: 50%;

          @media (max-width: $screen-md-max) {
            width: 100%;
          }
        }

        .row_button_inner {
          width: 50%;

          @media (max-width: $screen-md-max) {
            width: 100%;
          }
        }
      }
    }
  }

  .basket_row_inner {
    width: 70%;

    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }

  .row_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    +.row_wrapper {
      margin: 20px 0 0;
    }
  }

  .row_content {
    width: 60%;

    @media (max-width: $screen-md-max) {
      width: 74%;
    }
  }

  .checkbox {
    .service_title {
      font-weight: 500;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .row_price {
    width: 40%;

    @media (max-width: $screen-md-max) {
      width: 26%;
    }
  }

  .row_button {
    width: 30%;
    position: relative;

    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }

  .product_title,
  .product_price {
    font-weight: 700;
  }

  .price_summ {
    font-size: 24px;
    font-weight: 500;

    @media (max-width: $screen-md-max) {
      text-align: center;
      max-width: 265px;
      margin: 0 0 25px;
    }

    @media (max-width: $screen-xs-max) {
      max-width: 390px;
    }

    .summ {
      font-weight: 700;
    }
  }

  .form_row {
    max-width: 360px;

    @media (max-width: $screen-xs-max) {
      max-width: 390px;
    }

    +.form_row {
      margin: 25px 0 0;
    }
  }

  .row_button {
    .btn {
      width: 100%;
      max-width: 265px;
      margin: 0 0 30px;

      @media (max-width: $screen-xs-max) {
        max-width: 390px;
      }
    }

    .row_button_inner {
      text-align: center;
      max-width: 265px;

      @media (max-width: $screen-xs-max) {
        max-width: 390px;
      }
    }

    a {
      color: #000000;
      text-decoration: underline;
      letter-spacing: 0.45px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .btn_remove_product {
    width: 30px;
    height: 30px;
    border: 1px solid #929292;
    background-color: #f7f7f7;
    border-radius: 50%;
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.599985 0L6 5.40004L11.4 0L12 0.599996L6.59998 6.00002L12 11.4001L11.4 12L6 6.6L0.599985 12L0 11.4001L5.40002 6.00002L0 0.599996L0.599985 0Z' fill='%23929292'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    transition: all .2s linear;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 100%;

    @media (max-width: $screen-md-max) {
      position: static;
      margin: 0 0 0 30px;
    }

    @media (max-width: $screen-xs-max) {
      margin: 30px auto 0;
    }

    &:hover {
      border-color: #ff4400;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.599985 0L6 5.40004L11.4 0L12 0.599996L6.59998 6.00002L12 11.4001L11.4 12L6 6.6L0.599985 12L0 11.4001L5.40002 6.00002L0 0.599996L0.599985 0Z' fill='%23ff4400'/%3E%3C/svg%3E");
    }
  }
}
