.b_breadcrumbs {
  padding: 15px 0 0;

  @media (max-width: $screen-xs-max) {
    display: none;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.4px;

    li {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: auto;
      font-weight: 300;

      &:not(:last-of-type) {
        margin: 0 25px 0 0;

        &:after {
          content: '/';
          position: absolute;
          background-repeat: no-repeat;
          background-position: center;
          width: 4px;
          height: 7px;
          left: 100%;
          top: 50%;
          color: #000;
          font-size: 14px;
          margin: -9px 0 0 8px;
        }
      }
    }

    a {
      font-weight: 700;
      transition: all .2s linear;
      color: #000000;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
