.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 13px 15px;
  transition: all .2s linear;
  font-size: 18px;
  letter-spacing: 0.45px;
  font-weight: 700;
  height: auto;
  // text-transform: uppercase;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  box-shadow: none;
  border: 1px solid transparent;
  border-radius: 0;
  line-height: 1;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 165px;

  @media (max-width: $screen-xs-max) {
    font-size: 22px;
  }

  &:hover,
  &:focus {
    // box-shadow: none;
  }
}

.btn_blue {
  color: #fff;
  border-color: #035b9f;
  background-color: #035b9f;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);

  @media (max-width: $screen-xs-max) {
    box-shadow: none;
  }

  &:focus {
    color: #fff;
  }

  &:active {
    color: #fff;
  }

  &:hover {
    background-color: #929292;
    border-color: #929292;
    color: #fff;
  }
}

.btn_orange {
  color: #fff;
  border-color: #f27e00;
  background-color: #f27e00;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);

  @media (max-width: $screen-xs-max) {
    box-shadow: none;
  }

  &:focus {
    color: #fff;
  }

  &:active {
    color: #fff;
  }

  &:hover {
    background-color: #929292;
    border-color: #929292;
    color: #fff;
  }
}

.btn_gray {
  color: #fff;
  border-color: #929292;
  background-color: #929292;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);

  @media (max-width: $screen-xs-max) {
    box-shadow: none;
  }

  &:focus {
    color: #fff;
  }

  &:active {
    color: #fff;
  }

  &:hover {
    background-color: #000;
    border-color: #000;
    color: #fff;
  }
}

.btn_orange_empty {
  color: #f27e00;
  border-color: #f27e00;
  background-color: transparent;

  &:focus {
    color: #f27e00;
  }

  &:active {
    color: #f27e00;
  }

  &:hover {
    background-color: #f27e00;
    border-color: #f27e00;
    color: #fff;
  }
}

.btn_black_empty {
  color: #000;
  border-color: #000;
  background-color: transparent;

  &:focus {
    color: #000;
  }

  &:active {
    color: #000;
  }

  &:hover {
    background-color: #929292;
    border-color: #929292;
    color: #fff;
  }
}

.btn_white {
  color: #fff;
  border-color: #fff;
  background-color: transparent;

  &:focus {
    color: #fff;
  }

  &:active {
    color: #fff;
  }

  &:hover {
    background-color: #fff;
    border-color: #fff;
    color: #000;
  }
}


.buttons_list_basket {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.quantity_counter{
  .counter_wrapper{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #f7f7f7;
    background-color: #494949;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }
}

.btn_list {
  position: relative;
  width: 30px;
  height: 38px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='38' viewBox='0 0 30 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.37838 12.3839C8.21622 12.2143 7.94595 12.2143 7.83784 12.3839L6.32432 13.9673L5.2973 12.9494C5.13514 12.7798 4.86486 12.7798 4.75676 12.9494C4.59459 13.119 4.59459 13.4018 4.75676 13.5149L6.05405 14.872C6.21622 15.0417 6.48649 15.0417 6.59459 14.872L8.37838 13.006C8.54054 12.8363 8.54054 12.5536 8.37838 12.3839Z' fill='%23929292'/%3E%3Cpath d='M18.6486 13.1756H10.1622C9.83784 13.1756 9.62162 13.4018 9.62162 13.7411C9.62162 14.0804 9.83784 14.3065 10.1622 14.3065H18.6486C18.973 14.3065 19.1892 14.0804 19.1892 13.7411C19.1892 13.4018 18.9189 13.1756 18.6486 13.1756Z' fill='%23929292'/%3E%3Cpath d='M8.37838 17.3036C8.21622 17.1339 7.94595 17.1339 7.83784 17.3036L6.32432 18.8869L5.2973 17.8125C5.13514 17.6429 4.86486 17.6429 4.75676 17.8125C4.59459 17.9821 4.59459 18.2649 4.75676 18.378L6.05405 19.7351C6.21622 19.9048 6.48649 19.9048 6.59459 19.7351L8.37838 17.869C8.54054 17.6994 8.54054 17.4732 8.37838 17.3036Z' fill='%23929292'/%3E%3Cpath d='M18.6486 18.0952H10.1622C9.83784 18.0952 9.62162 18.3214 9.62162 18.6607C9.62162 19 9.83784 19.2262 10.1622 19.2262H18.6486C18.973 19.2262 19.1892 19 19.1892 18.6607C19.1892 18.3214 18.9189 18.0952 18.6486 18.0952Z' fill='%23929292'/%3E%3Cpath d='M8.37838 21.9405C8.21622 21.7708 7.94595 21.7708 7.83784 21.9405L6.32432 23.5238L5.2973 22.4494C5.13514 22.2798 4.86486 22.2798 4.75676 22.4494C4.59459 22.619 4.59459 22.9018 4.75676 23.0149L6.05405 24.372C6.21622 24.5417 6.48649 24.5417 6.59459 24.372L8.37838 22.506C8.54054 22.3363 8.54054 22.0536 8.37838 21.9405Z' fill='%23929292'/%3E%3Cpath d='M15.9459 22.6756H10.1622C9.83784 22.6756 9.62162 22.9018 9.62162 23.2411C9.62162 23.5804 9.83784 23.8065 10.1622 23.8065H15.9459C16.2703 23.8065 16.4865 23.5804 16.4865 23.2411C16.4865 22.9583 16.2162 22.6756 15.9459 22.6756Z' fill='%23929292'/%3E%3Cpath d='M7.83784 26.747L6.32432 28.3304L5.2973 27.256C5.13514 27.0863 4.86486 27.0863 4.75676 27.256C4.59459 27.4256 4.59459 27.7083 4.75676 27.8214L6.05405 29.1786C6.21622 29.3482 6.48649 29.3482 6.59459 29.1786L8.37838 27.3125C8.54054 27.1429 8.54054 26.8601 8.37838 26.747C8.21622 26.6339 8 26.6339 7.83784 26.747Z' fill='%23929292'/%3E%3Cpath d='M13.2432 28.6696C13.5676 28.6696 13.7838 28.4435 13.7838 28.1042C13.7838 27.7649 13.5676 27.5387 13.2432 27.5387H10.1622C9.83784 27.5387 9.62162 27.7649 9.62162 28.1042C9.62162 28.4435 9.83784 28.6696 10.1622 28.6696H13.2432Z' fill='%23929292'/%3E%3Cpath d='M23.4054 24.0893C19.7297 24.0893 16.7568 27.1994 16.7568 31.0446C16.7568 34.8899 19.7297 38 23.4054 38C27.0811 38 30 34.8333 30 31.0446C30 27.1994 27.0811 24.0893 23.4054 24.0893ZM27.9459 29.4048L23.4595 34.0982C23.0811 34.494 22.4324 34.494 22.0541 34.0982L18.8649 30.7619C18.4865 30.3661 18.4865 29.6875 18.8649 29.2917C19.2432 28.8958 19.8919 28.8958 20.2703 29.2917L22.7568 31.8929L26.5405 27.9345C26.9189 27.5387 27.5676 27.5387 27.9459 27.9345C28.3243 28.3304 28.3243 29.0089 27.9459 29.4048Z' fill='%23929292'/%3E%3Cpath d='M8.16216 5.8244H15.7838C16.3784 5.8244 16.8649 5.31548 16.8649 4.69345V3.50595C16.8649 2.88393 16.3784 2.375 15.7838 2.375H13.7838C13.7838 2.2619 13.8378 2.09226 13.8378 1.97917C13.8378 0.848214 12.973 0 11.9459 0C10.9189 0 10.0541 0.904762 10.0541 1.97917C10.0541 2.14881 10.0541 2.2619 10.1081 2.375H8.16216C7.56757 2.375 7.08108 2.88393 7.08108 3.50595V4.75C7.08108 5.37202 7.56757 5.8244 8.16216 5.8244ZM12 0.735119C12.4865 0.735119 12.9189 1.1875 12.9189 1.69643C12.9189 2.20536 12.4865 2.65774 12 2.65774C11.5135 2.65774 11.0811 2.20536 11.0811 1.69643C11.0811 1.13095 11.4595 0.735119 12 0.735119Z' fill='%23929292'/%3E%3Cpath d='M3.67568 32.006C3.08108 32.006 2.59459 31.497 2.59459 30.875V10.8006C2.59459 10.1786 3.08108 9.66964 3.67568 9.66964H20.1622C20.7568 9.66964 21.2432 10.1786 21.2432 10.8006V22.1667C21.9459 21.997 22.6486 21.8839 23.4054 21.8839C23.5135 21.8839 23.6757 21.8839 23.7838 21.8839V4.91964C23.7838 4.29762 23.2973 3.78869 22.7027 3.78869H17.9459V4.69345C17.9459 5.9375 16.973 6.95536 15.7838 6.95536H8.16216C6.97297 6.95536 6 5.9375 6 4.69345V3.78869H1.08108C0.486486 3.78869 0 4.29762 0 4.91964V33.4196C0 34.0417 0.486486 34.5506 1.08108 34.5506H15.2973C14.973 33.7589 14.7568 32.9107 14.6486 32.006H3.67568Z' fill='%23929292'/%3E%3C/svg%3E");

  .quantity_counter{
    position: absolute;
    top: -5px;
    right: -2px;
  }
}

.btn_basket {
  position: relative;
  margin: 0 0 0 15px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.616 30C14.3803 30 15.8106 28.5104 15.8106 26.6729C15.8106 24.8354 14.3803 23.3459 12.616 23.3459C10.8517 23.3459 9.42138 24.8354 9.42138 26.6729C9.42138 28.5104 10.8517 30 12.616 30Z' fill='%23F27E00'/%3E%3Cpath d='M23.8243 30C25.5886 30 27.0189 28.5104 27.0189 26.6729C27.0189 24.8354 25.5886 23.3459 23.8243 23.3459C22.0599 23.3459 20.6296 24.8354 20.6296 26.6729C20.6296 28.5104 22.0599 30 23.8243 30Z' fill='%23F27E00'/%3E%3Cpath d='M28.1019 3.7782C25.936 3.7782 7.68876 3.60903 7.68876 3.60903L6.76827 0.789475C6.65998 0.338346 6.22681 0 5.73949 0H1.08292C0.487316 0.0563911 0 0.563911 0 1.18421V1.97369C0 2.59399 0.487316 3.10151 1.08292 3.10151H4.43999L9.1507 20.5264C9.1507 20.5264 9.63802 22.1053 10.9375 22.4437C11.0458 22.5 11.1541 22.5 11.2624 22.5H25.0155C25.6111 22.5 26.0985 21.9925 26.0985 21.3158V20.9211C26.0985 20.2444 25.6111 19.7369 25.0155 19.7369H11.5331C11.4248 19.0602 11.2624 18.0451 11.2624 18.0451L25.936 17.5376C25.936 17.5376 28.0477 17.4248 28.3184 15.9587C28.6975 13.985 29.997 4.62407 29.997 4.62407C29.997 4.62407 30.1594 3.7782 28.1019 3.7782ZM13.5907 12.688C13.5907 13.1391 13.2658 13.4775 12.8326 13.4775C12.3995 13.4775 12.0746 13.1391 12.0746 12.688V9.13536C12.0746 8.68423 12.3995 8.34588 12.8326 8.34588C13.2658 8.34588 13.5907 8.68423 13.5907 9.13536V12.688ZM19.0053 12.688C19.0053 13.1391 18.6804 13.4775 18.2473 13.4775C17.8141 13.4775 17.4892 13.1391 17.4892 12.688V9.13536C17.4892 8.68423 17.8141 8.34588 18.2473 8.34588C18.6804 8.34588 19.0053 8.68423 19.0053 9.13536V12.688ZM24.4199 12.688C24.4199 13.1391 24.095 13.4775 23.6619 13.4775C23.2287 13.4775 22.9038 13.1391 22.9038 12.688V9.13536C22.9038 8.68423 23.2287 8.34588 23.6619 8.34588C24.095 8.34588 24.4199 8.68423 24.4199 9.13536V12.688Z' fill='%23F27E00'/%3E%3C/svg%3E");

  .quantity_counter{
    position: absolute;
    top: -5px;
    right: 2px;
  }
}

.btn_add_basket{
  &:after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    width: 13px;
    height: 13px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.46694 13C6.23148 13 6.85127 12.3545 6.85127 11.5583C6.85127 10.762 6.23148 10.1165 5.46694 10.1165C4.70239 10.1165 4.0826 10.762 4.0826 11.5583C4.0826 12.3545 4.70239 13 5.46694 13Z' fill='white'/%3E%3Cpath d='M10.3238 13C11.0884 13 11.7082 12.3545 11.7082 11.5583C11.7082 10.762 11.0884 10.1165 10.3238 10.1165C9.5593 10.1165 8.93951 10.762 8.93951 11.5583C8.93951 12.3545 9.5593 13 10.3238 13Z' fill='white'/%3E%3Cpath d='M12.1775 1.63722C11.2389 1.63722 3.33179 1.56391 3.33179 1.56391L2.93292 0.342106C2.88599 0.146617 2.69828 0 2.48711 0H0.469267C0.21117 0.0244361 0 0.244361 0 0.513159V0.855265C0 1.12406 0.21117 1.34399 0.469267 1.34399H1.92399L3.9653 8.89475C3.9653 8.89475 4.17647 9.57896 4.7396 9.72558C4.78652 9.75002 4.83345 9.75002 4.88037 9.75002H10.8401C11.0982 9.75002 11.3093 9.53009 11.3093 9.23686V9.06581C11.3093 8.77257 11.0982 8.55265 10.8401 8.55265H4.99769C4.95076 8.25941 4.88037 7.81956 4.88037 7.81956L11.2389 7.59964C11.2389 7.59964 12.154 7.55077 12.2713 6.91543C12.4356 6.06016 12.9987 2.00376 12.9987 2.00376C12.9987 2.00376 13.0691 1.63722 12.1775 1.63722ZM5.8893 5.49813C5.8893 5.69362 5.74852 5.84024 5.56081 5.84024C5.37311 5.84024 5.23232 5.69362 5.23232 5.49813V3.95865C5.23232 3.76317 5.37311 3.61655 5.56081 3.61655C5.74852 3.61655 5.8893 3.76317 5.8893 3.95865V5.49813ZM8.23563 5.49813C8.23563 5.69362 8.09485 5.84024 7.90715 5.84024C7.71944 5.84024 7.57866 5.69362 7.57866 5.49813V3.95865C7.57866 3.76317 7.71944 3.61655 7.90715 3.61655C8.09485 3.61655 8.23563 3.76317 8.23563 3.95865V5.49813ZM10.582 5.49813C10.582 5.69362 10.4412 5.84024 10.2535 5.84024C10.0658 5.84024 9.92499 5.69362 9.92499 5.49813V3.95865C9.92499 3.76317 10.0658 3.61655 10.2535 3.61655C10.4412 3.61655 10.582 3.76317 10.582 3.95865V5.49813Z' fill='white'/%3E%3C/svg%3E");
    margin: 0 0 0 5px;
  }
}

.btn_add_list{
  &:after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='15' viewBox='0 0 12 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.35135 4.88839C3.28649 4.82143 3.17838 4.82143 3.13514 4.88839L2.52973 5.51339L2.11892 5.11161C2.05405 5.04464 1.94595 5.04464 1.9027 5.11161C1.83784 5.17857 1.83784 5.29018 1.9027 5.33482L2.42162 5.87054C2.48649 5.9375 2.59459 5.9375 2.63784 5.87054L3.35135 5.13393C3.41622 5.06696 3.41622 4.95536 3.35135 4.88839Z' fill='white'/%3E%3Cpath d='M7.45946 5.20089H4.06486C3.93514 5.20089 3.84865 5.29018 3.84865 5.42411C3.84865 5.55804 3.93514 5.64732 4.06486 5.64732H7.45946C7.58919 5.64732 7.67568 5.55804 7.67568 5.42411C7.67568 5.29018 7.56757 5.20089 7.45946 5.20089Z' fill='white'/%3E%3Cpath d='M3.35135 6.83036C3.28649 6.76339 3.17838 6.76339 3.13514 6.83036L2.52973 7.45536L2.11892 7.03125C2.05405 6.96429 1.94595 6.96429 1.9027 7.03125C1.83784 7.09821 1.83784 7.20982 1.9027 7.25446L2.42162 7.79018C2.48649 7.85714 2.59459 7.85714 2.63784 7.79018L3.35135 7.05357C3.41622 6.98661 3.41622 6.89732 3.35135 6.83036Z' fill='white'/%3E%3Cpath d='M7.45946 7.14286H4.06486C3.93514 7.14286 3.84865 7.23214 3.84865 7.36607C3.84865 7.5 3.93514 7.58929 4.06486 7.58929H7.45946C7.58919 7.58929 7.67568 7.5 7.67568 7.36607C7.67568 7.23214 7.56757 7.14286 7.45946 7.14286Z' fill='white'/%3E%3Cpath d='M3.35135 8.66071C3.28649 8.59375 3.17838 8.59375 3.13514 8.66071L2.52973 9.28571L2.11892 8.86161C2.05405 8.79464 1.94595 8.79464 1.9027 8.86161C1.83784 8.92857 1.83784 9.04018 1.9027 9.08482L2.42162 9.62054C2.48649 9.6875 2.59459 9.6875 2.63784 9.62054L3.35135 8.88393C3.41622 8.81696 3.41622 8.70536 3.35135 8.66071Z' fill='white'/%3E%3Cpath d='M6.37838 8.95089H4.06486C3.93514 8.95089 3.84865 9.04018 3.84865 9.17411C3.84865 9.30804 3.93514 9.39732 4.06486 9.39732H6.37838C6.50811 9.39732 6.59459 9.30804 6.59459 9.17411C6.59459 9.0625 6.48649 8.95089 6.37838 8.95089Z' fill='white'/%3E%3Cpath d='M3.13514 10.558L2.52973 11.183L2.11892 10.7589C2.05405 10.692 1.94595 10.692 1.9027 10.7589C1.83784 10.8259 1.83784 10.9375 1.9027 10.9821L2.42162 11.5179C2.48649 11.5848 2.59459 11.5848 2.63784 11.5179L3.35135 10.7812C3.41622 10.7143 3.41622 10.6027 3.35135 10.558C3.28649 10.5134 3.2 10.5134 3.13514 10.558Z' fill='white'/%3E%3Cpath d='M5.2973 11.317C5.42703 11.317 5.51351 11.2277 5.51351 11.0937C5.51351 10.9598 5.42703 10.8705 5.2973 10.8705H4.06486C3.93514 10.8705 3.84865 10.9598 3.84865 11.0937C3.84865 11.2277 3.93514 11.317 4.06486 11.317H5.2973Z' fill='white'/%3E%3Cpath d='M9.36216 9.50893C7.89189 9.50893 6.7027 10.7366 6.7027 12.2545C6.7027 13.7723 7.89189 15 9.36216 15C10.8324 15 12 13.75 12 12.2545C12 10.7366 10.8324 9.50893 9.36216 9.50893ZM11.1784 11.6071L9.38378 13.4598C9.23243 13.6161 8.97297 13.6161 8.82162 13.4598L7.54595 12.1429C7.3946 11.9866 7.3946 11.7187 7.54595 11.5625C7.6973 11.4062 7.95676 11.4062 8.10811 11.5625L9.1027 12.5893L10.6162 11.0268C10.7676 10.8705 11.027 10.8705 11.1784 11.0268C11.3297 11.183 11.3297 11.4509 11.1784 11.6071Z' fill='white'/%3E%3Cpath d='M3.26487 2.29911H6.31351C6.55135 2.29911 6.74595 2.09821 6.74595 1.85268V1.38393C6.74595 1.13839 6.55135 0.9375 6.31351 0.9375H5.51351C5.51351 0.892857 5.53514 0.825893 5.53514 0.78125C5.53514 0.334821 5.18919 0 4.77838 0C4.36757 0 4.02162 0.357143 4.02162 0.78125C4.02162 0.848214 4.02162 0.892857 4.04324 0.9375H3.26487C3.02703 0.9375 2.83243 1.13839 2.83243 1.38393V1.875C2.83243 2.12054 3.02703 2.29911 3.26487 2.29911ZM4.8 0.290179C4.99459 0.290179 5.16757 0.46875 5.16757 0.669643C5.16757 0.870536 4.99459 1.04911 4.8 1.04911C4.60541 1.04911 4.43243 0.870536 4.43243 0.669643C4.43243 0.446429 4.58378 0.290179 4.8 0.290179Z' fill='white'/%3E%3Cpath d='M1.47027 12.6339C1.23243 12.6339 1.03784 12.433 1.03784 12.1875V4.26339C1.03784 4.01786 1.23243 3.81696 1.47027 3.81696H8.06486C8.3027 3.81696 8.4973 4.01786 8.4973 4.26339V8.75C8.77838 8.68304 9.05946 8.63839 9.36216 8.63839C9.40541 8.63839 9.47027 8.63839 9.51351 8.63839V1.94196C9.51351 1.69643 9.31892 1.49554 9.08108 1.49554H7.17838V1.85268C7.17838 2.34375 6.78919 2.74554 6.31351 2.74554H3.26487C2.78919 2.74554 2.4 2.34375 2.4 1.85268V1.49554H0.432432C0.194595 1.49554 0 1.69643 0 1.94196V13.192C0 13.4375 0.194595 13.6384 0.432432 13.6384H6.11892C5.98919 13.3259 5.9027 12.9911 5.85946 12.6339H1.47027Z' fill='white'/%3E%3C/svg%3E");
    margin: 0 0 0 5px;
  }
}
