.b_certificates {
  .btn_wrapper {
    text-align: center;
    padding: 0;

    @media (max-width: $screen-xs-max) {
      padding: 30px 0 0;
    }

    .btn {
      width: 100%;
      max-width: 265px;

      @media (max-width: $screen-xs-max) {
        max-width: 450px;
      }
    }
  }

  .certificates_wrapper {
    margin: 0 -15px 0;

    @media (max-width: $screen-xs-max) {
      margin: 0 -15px 0;
    }
  }

  .certificate_item {
    img {
      margin: 0 auto;
    }
  }
}
