.b_choose {
  @media (max-width: $screen-xs-max) {
    padding: 50px 0 100px;
  }
  a {
    color: #000000;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .choose_wrapper{
    margin: 0 0 25px;
    text-align: justify;
  }
}
