$text-color: #000;

* {outline: 0 !important;}

body {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  color: $text-color;
  min-width: 320px;
  background-color: #f7f7f7;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2 {
  font-size: 24px;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  h1, h2 {
    font-size: 26px;
  }
}

h3 {
  font-size: 18px;
  margin-bottom: 25px;
}

p {
  line-height: 1.6;
}

p:not(:last-child) {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

select::-ms-expand {
  display: none;
}

input::-ms-clear {
  display: none;
}

@media (max-width: 991px) {
  input, textarea, select, select:focus {
    font-size: 16px;
  }
}