.b_contacts{
  padding: 30px 0 0;

  .contacts_content{
    h3{
      font-size: 24px;
      font-weight: 700;
      margin: 0 0 20px;
    }

    ul{
      padding: 0;
      list-style: none;

      li{
        + li{
          margin: 20px 0 0;
        }
      }
    }

    a{
      color: #000000;
      text-decoration: underline;

      &:hover{
        text-decoration: none;
      }
    }
  }

  .contacts_row{
    + .contacts_row{
      margin: 50px 0 0;
    }
  }
}