.b_customers{
  padding: 50px 0 20px;
  
  .customers_wrapper{
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    img{
      margin: 0 15px 30px;
    }
  }
}