.section {
  padding: 50px 0;
}

.section_title {
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: 0.9px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 50px;

  @media (max-width: $screen-xs-max) {
    font-size: 30px;
  }
}

.label_title {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 10px;
}

.form_control {
  width: 100%;
  border: 1px solid #929292;
  transition: all .2s linear;
  font-size: 16px;
  line-height: 1.4;
  padding: 6px 20px;

  &:hover,
  &:focus {
    border-color: #f27e00;
  }

  &.error {
    border-color: #fe0000;
  }

  &.valid {
    border-color: #17c33b;
  }
}

.selectric-open {
  z-index: 2;
  .button {
    &::after {
      transform: rotate(180deg);
    }
  }
}

.selectric {
  border: 1px solid #929292 !important;
  background: #fff;

  &:hover {
    border-color: #929292;
  }

  .label {
    font-size: 16px;
    line-height: 1.3;
    height: auto;
    padding: 8px 0;
  }

  .button {
    background-color: transparent;
    height: 100%;

    &::after {
      border: none;
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 2.35393L1.85021 0L7.5 4.25322L13.1498 0L15 2.35393L7.5 8L0 2.35393Z' fill='%23494949'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      width: 16px;
      height: 8px;
      transition: all .2s linear;
    }
  }
}

.selectric-items {
  box-shadow: none;
  border: 1px solid #929292;
  background-color: #fff;

  li {
    font-size: 16px;
    color: #000000;
    padding: 5px 10px;

    &.highlighted,
    &:hover {
      background-color: transparent;
      color: #035b9f;
    }
  }
}

.page_title_wrapper {
  padding: 0 0 20px;
  border-bottom: 1px solid #929292;
  margin: 0 0 30px;

  .title_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page_title {
    font-size: 36px;
    font-weight: 500;

    @media (max-width: $screen-xs-max) {
      font-size: 30px;
    }
  }
}

.checkbox_no_label {
  display: inline-block;

  [type="checkbox"] {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
  }

  [type="checkbox"]:checked {
    +span {
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='14' height='14' fill='%23F27E00'/%3E%3C/svg%3E");
      }
    }
  }

  span {
    &:before {
      content: '';
      display: block;
      position: relative;
      left: 0;
      top: 2px;
      width: 20px;
      height: 20px;
      border: 1px solid #929292;
      background-color: #ffffff;
      background-repeat: no-repeat;
      background-position: center;
      transition: all .2s linear;
    }
  }
}

.checkbox {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  user-select: none;

  [type="checkbox"] {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
  }

  [type="checkbox"]:checked {
    +.service_title {
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='14' height='14' fill='%23F27E00'/%3E%3C/svg%3E");
      }
    }
  }

  .service_title {
    display: block;
    padding: 0 0 0 50px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      width: 20px;
      height: 20px;
      border: 1px solid #929292;
      background-color: #ffffff;
      background-repeat: no-repeat;
      background-position: center;
      transition: all .2s linear;
    }
  }
}

.overflow_block {
  overflow: auto;
}


.mCSB_horizontal.mCSB_inside>.mCSB_container {
  margin: 0 0 6px;
}

.mCSB_scrollTools {
  opacity: 1 !important;

  &.mCSB_scrollTools_horizontal {
    height: 6px;

    .mCSB_draggerRail {
      height: 6px;
      margin: 0;
    }

    .mCSB_dragger .mCSB_dragger_bar {
      height: 6px;
      margin: 0;
    }
  }

  .mCSB_dragger {
    opacity: 1 !important;

    .mCSB_dragger_bar {
      background-color: #929292 !important;
      border-radius: 0;
    }
  }

  .mCSB_draggerRail {
    background-color: transparent !important;
  }
}


.slick-arrow {
  font-size: 0;
  border: 0;
  background-color: transparent;
  width: 29px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.slick-prev {
  background-image: url("data:image/svg+xml,%3Csvg width='29' height='25' viewBox='0 0 29 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29 13.5607C29 13.5607 20.5313 13.5607 12.9859 13.5607C9.46421 13.5607 6.14367 13.5607 3.97911 13.5607L13.1026 23.7495L11.0879 25C11.0879 25 9.21761 22.9117 7.08878 20.5343C5.35419 18.5973 3.44797 16.4683 2.24208 15.1214C1.49328 14.2852 1.01451 13.7506 1.01451 13.7506L1.08219 13.7086L0 12.4999L11.0879 0L13.1026 1.2502C13.1026 1.2502 9.73951 5.00653 6.56113 8.55628C5.67915 9.54101 4.90735 10.51 4.26209 11.3784H29V13.5607Z' fill='%23939393'/%3E%3C/svg%3E");
}

.slick-next {
  background-image: url("data:image/svg+xml,%3Csvg width='29' height='25' viewBox='0 0 29 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 11.3784H24.7379C24.0927 10.51 23.3208 9.54101 22.4389 8.55628C19.2605 5.00653 15.8974 1.2502 15.8974 1.2502L17.9121 0L29 12.4999L27.9178 13.7086L27.9855 13.7506C27.9855 13.7506 27.5067 14.2852 26.7579 15.1214C25.552 16.4683 23.6458 18.5973 21.9112 20.5343C19.7824 22.9117 17.9121 25 17.9121 25L15.8974 23.7495L25.0209 13.5607C22.8563 13.5607 19.5358 13.5607 16.0141 13.5607C8.46868 13.5607 0 13.5607 0 13.5607V11.3784Z' fill='%23939393'/%3E%3C/svg%3E");
}

.custom_slider {
  padding: 0 0 55px;
  position: relative;

  .slick-arrow {
    position: absolute;
    bottom: 0;
  }

  .slick-prev {
    right: calc(50% + 15px);
  }

  .slick-next {
    left: calc(50% + 15px);
  }
}

.mobile_wrapper {
  padding: 0 0 40px;

  @media (min-width: $screen-sm-min) {
    display: none;
  }

  .btn {
    display: block;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    border-width: 2px;
  }
}


.protip-skin-square--scheme-black.protip-container{
  background: #494949;
  line-height: 1.3;
}
.protip-skin-square--scheme-black[data-pt-position="bottom-left"] .protip-arrow, .protip-skin-square--scheme-black[data-pt-position="bottom"] .protip-arrow, .protip-skin-square--scheme-black[data-pt-position="bottom-right"] .protip-arrow{
  border-color: transparent transparent #494949 transparent;
}
.protip-skin-square--scheme-black[data-pt-position="top-left-corner"] .protip-arrow{
  border-color: transparent #494949 transparent transparent;
}
.protip-skin-square--scheme-black[data-pt-position="top-left"] .protip-arrow, .protip-skin-square--scheme-black[data-pt-position="top"] .protip-arrow, .protip-skin-square--scheme-black[data-pt-position="top-right"] .protip-arrow{
  border-color: #494949 transparent transparent transparent;
}
.protip-skin-square--scheme-black[data-pt-position="bottom-right-corner"] .protip-arrow{
  border-color: transparent transparent transparent #494949;
}