.b_main_block {

  .section_title {
    max-width: 700px;
    margin: 0 auto 50px;
  }

  .btn_wrapper {
    text-align: center;
    margin: 0 0 50px;

    .btn {
      width: 100%;
      max-width: 265px;

      @media (max-width: $screen-xs-max) {
        max-width: 450px;
      }
    }

    .btn_offer {
      display: none;

      @media (max-width: $screen-xs-max) {
        display: block;
        margin: 30px auto 0;
      }
    }
  }

  .bloco_info {
    text-align: center;
    margin: 0 0 50px;
    font-size: 24px;

    @media (max-width: $screen-xs-max) {
      font-size: 18px;
      max-width: 350px;
      margin: 0 auto 50px;
    }

    p {
      margin: 0;

      &:not(:last-child) {
        @media (max-width: $screen-xs-max) {
          margin-bottom: 15px;
        }
      }
    }
  }

  .block_logotypes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px;

    img {
      margin: 0 15px 30px;
    }
  }
}
