.b_marketing_services {
  padding-bottom: 20px;

  .marketing_content {
    text-align: center;
  }

  .btn_application {
    width: 100%;
    max-width: 265px;
    margin: 0 auto 50px;

    @media (max-width: $screen-xs-max) {
      max-width: 450px;
    }
  }

  .single_text {
    max-width: 775px;
    margin: 0 auto 50px;
    font-size: 24px;

    @media (max-width: $screen-xs-max) {
      font-size: 18px;
    }
  }

  .customers {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  .customers_item {
    background-color: #ffffff;
    margin: 0 15px 30px;
    position: relative;
    width: calc(25% - 30px);
    height: 68px;

    @media (max-width: $screen-sm-max) {
      width: calc(50% - 30px);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      max-height: 100%;
      margin: auto;
    }
  }
}
