.b_order_info {

  .section_title {
    max-width: 840px;
    margin: 0 auto 50px;
  }

  .order_info_wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
  }

  .order_info {
    font-size: 24px;
    font-weight: 500;

    @media (max-width: $screen-md-max) {
      font-size: 22px;
    }

    @media (max-width: $screen-sm-max) {
      font-size: 24px;
      width: 33.33%;
    }

    @media (max-width: $screen-xs-max) {
      width: 100%;
      margin: 0 auto;
    }

    &.info_left {
      max-width: 260px;
      width: 100%;

      @media (max-width: $screen-md-max) {
        max-width: 240px;
      }

      @media (max-width: $screen-sm-max) {
        max-width: none;
        width: 33.33%;
      }

      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
    }

    &.info_right {
      max-width: 260px;
      width: 100%;

      @media (max-width: $screen-md-max) {
        max-width: 240px;
      }

      @media (max-width: $screen-sm-max) {
        max-width: none;
        width: 33.33%;
      }

      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
    }

    +.order_info {

      @media (max-width: $screen-xs-max) {
        margin: 60px auto 0;
      }

      .order_icon {
        &:before {
          position: absolute;
          content: '';
          width: 278px;
          height: 1px;
          background-color: #f27e00;
          right: 100%;
          margin: 0 35px 0 0;

          @media (max-width: $screen-md-max) {
            width: 195px;
          }

          @media (max-width: $screen-sm-max) {
            display: none;
          }
        }
      }
    }
  }

  .order_icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #f27e00;
    background-color: #f7f7f7;
    font-size: 36px;
    color: #f27e00;
    font-weight: 800;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto 60px;
    position: relative;
  }

  .order_title {
    max-width: 295px;
    margin: 0 auto;
  }

  .order_button {
    text-align: center;
    padding: 50px 0 0;

    .btn {
      width: 100%;
      max-width: 265px;

      @media (max-width: $screen-xs-max) {
        max-width: 450px;
      }
    }

    .btn_offer {
      display: none;

      @media (max-width: $screen-xs-max) {
        display: block;
        margin: 30px auto 0;
      }
    }
  }
}
