.b_our_achievements{

  .achievements_wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  .achievement_item{
    padding: 25px 25px;
    background-color: #ffffff;
    margin: 0 15px 30px;
    width: calc(25% - 30px);
    text-align: center;

    @media (max-width: $screen-sm-max) {
      width: calc(50% - 30px);
    }
  }

  .achievement_title{
    color: #919191;
    font-size: 24px;
    margin: 0 0 50px;

    @media (max-width: $screen-md-max) {
      font-size: 18px;
      margin: 0 0 30px;
    }
  }

  .achievement_image{
    height: 50px;
    position: relative;
    margin: 0 0 50px;

    @media (max-width: $screen-md-max) {
      margin: 0 0 30px;
    }

    img{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      max-height: 100%;
      margin: auto;
    }
  }

  .achievement_info{
    font-size: 24px;
    font-weight: 700;

    @media (max-width: $screen-md-max) {
      font-size: 18px;
    }
  }
}