.b_page404 {
  padding: 130px 0;

  @media (max-width: $screen-md-max) {
    padding: 100px 0;
  }

  @media (max-width: $screen-sm-max) {
    padding: 45px 0 100px;
  }

  .page404_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .page404_image {
    width: 50%;

    @media (max-width: $screen-md-max) {
      padding: 0 15px;
    }

    @media (max-width: $screen-sm-max) {
      width: 100%;
      margin: 0 0 55px;
    }

    img {
      margin: 0 auto;
    }
  }

  .page404_content {
    width: 50%;

    @media (max-width: $screen-sm-max) {
      width: 100%;
    }

    h1 {
      color: #f27e00;
      font-weight: 700;
      font-size: 72px;
      letter-spacing: 1.8px;
      margin: 0 0 20px;

      @media (max-width: $screen-md-max) {
        font-size: 60px;
      }

      @media (max-width: 470px) {
        font-size: 50px;
        text-align: center;
      }
    }

    p {
      font-weight: 600;
      letter-spacing: 0.55px;
      color: #000000;
      font-size: 22px;

      @media (max-width: $screen-md-max) {
        font-size: 19px;
      }

      @media (max-width: 470px) {
        font-size: 16px;
      }
    }

    a {
      color: #035b9f;
      text-decoration: underline;
      font-size: 27px;
      font-weight: 600;

      @media (max-width: $screen-md-max) {
        font-size: 23px;
      }

      @media (max-width: 470px) {
        font-size: 18px;
      }

      &:hover{
        text-decoration: none;
      }
    }
  }

  .content_inner {
    max-width: 450px;
    margin: 0 auto;

    @media (max-width: $screen-md-max) {
      max-width: 380px;
    }

    @media (max-width: 470px) {
      max-width: 325px;
    }
  }
}
