.b_product {
  padding: 30px 0 50px;

  @media (max-width: $screen-xs-max) {
    font-size: 16px;
    padding: 30px 0 0;
  }

  .title_wrapper {
    .page_title {
      display: inline-block;
      vertical-align: middle;

      @media (max-width: $screen-xs-max) {
        display: block;
        width: 100%;
      }
    }

    .page_title_inner {
      display: flex;
      align-items: center;

      @media (max-width: $screen-xs-max) {
        flex-wrap: wrap;
      }

      .product {
        display: flex;
        align-items: center;

        @media (max-width: $screen-xs-max) {
          width: 100%;
          display: block;
          margin: 0 0 25px;
        }
      }
    }

    .category {
      font-size: 18px;

      &.gray {
        background-color: #929292;
        color: #ffffff;
        letter-spacing: 0.45px;
        font-weight: 600;
        padding: 5px 20px;
        line-height: 1.1;
      }
    }
  }

  .buttons_list_basket {
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }

  .wrapper_row {
    +.wrapper_row {
      margin: 31px 0 0;
    }
  }

  .product_info_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product_image {
    width: 457px;

    @media (max-width: $screen-md-max) {
      width: 375px;
    }

    @media (max-width: $screen-sm-max) {
      width: 100%;
      max-width: 480px;
      margin: 0 auto 30px;
    }
  }

  .product_title {
    margin: 0 15px 0 0;
    display: inline-block;
    max-width: calc(100% - 50px);
  }

  .product_link {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 27px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='27' viewBox='0 0 30 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.8488 0C28.8873 0 28.9255 0.00163164 28.9633 0.00489491C28.9926 0.00163164 29.0222 0 29.052 0C29.3029 0 29.5246 0.114541 29.6906 0.297611L29.6963 0.303484C29.7683 0.366792 29.83 0.438258 29.8786 0.516576C29.9558 0.641233 30 0.782859 30 0.935581C30 0.96495 29.9983 0.993993 29.9952 1.02271C29.9983 1.06024 30 1.09809 30 1.13627V10.2251C30 10.8269 29.5936 11.3614 29.052 11.3614C28.5102 11.3614 28.1038 10.8269 28.1038 10.2251V3.14123L13.4086 17.6435C13.0022 18.0446 12.3928 18.0446 11.9864 17.7104C11.5802 17.3094 11.6478 16.708 12.0542 16.3069L26.7431 1.87116H19.6388C19.0294 1.87116 18.4876 1.47043 18.4876 0.935581C18.4876 0.401056 18.9616 0 19.6388 0H28.8488Z' fill='%23929292'/%3E%3Cpath d='M21.3318 24.9951C21.4672 24.9951 21.6027 24.8615 21.6027 24.7278V13.3664L23.6343 11.3614V24.7278C23.6343 25.9976 22.6185 27.0001 21.3318 27.0001H2.30248C1.0158 27.0001 0 25.9976 0 24.7278V5.94804C0 4.74507 1.0158 3.67576 2.30248 3.67576H21.0609L19.0293 5.68072H2.30248C2.16704 5.68072 2.0316 5.81438 2.0316 5.94804V24.7278C2.0316 24.8615 2.16704 24.9951 2.30248 24.9951H21.3318Z' fill='%23929292'/%3E%3C/svg%3E");
    margin: 0 30px 0 0;

    @media (max-width: $screen-xs-max) {
      margin: -8px 0 0;
    }
  }

  .image_wrapper {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 324px;
    width: 100%;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
    border: 5px solid #929292;
    opacity: 0.3;
    background-color: #929292;
  }

  .product_info {
    width: calc(100% - 487px);

    @media (max-width: $screen-md-max) {
      width: calc(100% - 405px);
    }

    @media (max-width: $screen-sm-max) {
      width: 100%;
    }

    .info_list_body {
      .info_list_title {
        width: 57%;

        @media (max-width: $screen-xs-max) {
          width: 55%;
        }
      }

      .info_list_description {
        width: 43%;

        @media (max-width: $screen-xs-max) {
          width: 45%;
        }
      }
    }
  }


  .info_list {
    font-weight: 500;
    border: 1px solid #929292;
  }

  .info_list_head {
    background-color: #929292;
    color: #fefefe;
    font-weight: 700;
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 53px;
  }

  .list_body_wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .info_list_column {
    width: 50%;

    @media (max-width: $screen-sm-max) {
      width: 100%;
    }

    +.info_list_column {
      border-left: 1px solid #929292;

      @media (max-width: $screen-sm-max) {
        border-left: none;
        border-top: 1px solid #929292;
      }
    }
  }

  .info_list_body {

    .info_list_row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      min-height: 53px;
      padding: 10px 30px;

      &:nth-child(2n) {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          z-index: -1;
          background-color: #e8e8e8;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }

      &:not(:first-of-type) {
        border-top: 1px solid #929292;
      }
    }

    .info_list_title {
      width: 80%;

      @media (max-width: $screen-md-max) {
        width: 75%;
      }

      .title_wrap{
        display: inline-block;
        vertical-align: top;
        text-decoration: underline;
        cursor: pointer;
      }

      .checkbox_no_label{
        margin-right: 30px;
      }
    }

    .info_list_description {
      width: 20%;

      @media (max-width: $screen-md-max) {
        width: 25%;
        text-align: right;
      }
    }
  }

  .price_total {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .price_total_inner {
    width: 100%;
    max-width: 262px;
    margin: 0 auto;
    text-align: center;

    @media (max-width: $screen-sm-max) {
      padding: 30px 0;
      max-width: 388px;
    }

    .btn {
      width: 100%;

      +.btn {
        margin: 15px 0 0;
      }
    }
  }

  .category_select {
    margin: 0 0 25px;

    @media (max-width: $screen-xs-max) {}
  }

  .total_wrapper {
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 25px;
  }

  .total_price {
    font-weight: 700;
  }

  .selectric .label{
    color: #929292;
    font-size: 18px;
    padding: 11px 0;
    font-weight: 700;
  }
}
