.b_reviews {
  padding: 50px 0 20px;

  .reviews_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    @media (min-width: $screen-md-min) {
      padding: 0;
    }

    @media (max-width: $screen-sm-max) {
      margin: 0 auto;
    }
  }

  .review_item {
    border: 5px solid transparent;
    margin: 0 15px 30px;
    min-height: 457px;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $screen-md-max) {
      min-height: 375px;
    }

    @media (max-width: $screen-sm-max) {
      margin: 0;
      display: flex !important;
    }

    &.blue_item {
      border-color: #035b9f;
    }

    &.orange_item {
      border-color: #f27e00;
    }

    &.lg_item {
      width: calc(66.66666667% - 30px);

      .image_wrapper {
        position: relative;
        width: 50%;
        height: 100%;

        @media (max-width: $screen-sm-max) {
          height: auto;
        }

        @media (max-width: $screen-xs-max) {
          display: none;
        }

        img {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          max-height: 100%;
        }
      }

      .contact_wrapper {
        width: 50%;

        @media (max-width: $screen-xs-max) {
          width: 100%;
        }
      }
    }

    &.xs_item {
      width: calc(33.33333333% - 30px);
    }

    &.img_right{
      .image_wrapper{
        order: 2;
      }

      .contact_wrapper{
        order: 1;
      }
    }

    .contact_wrapper {
      min-height: 100%;
      padding: 35px 35px;
      position: relative;
    }

    .content_bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0 35px 30px;

      .logo {
        margin: 0 0 20px;
      }

      .name {
        font-size: 24px;

        @media (max-width: $screen-md-max) {
          font-size: 18px;
        }
      }
    }

    .review_tile {
      font-size: 24px;
      font-weight: 700;
      margin: 0 0 45px;

      @media (max-width: $screen-md-max) {
        font-size: 18px;
      }
    }
  }
}
