.b_service_info {
  .section_title {
    max-width: 1020px;
    margin: 0 auto 50px;
  }

  .service_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .service_item {
    width: 50%;
    text-align: center;

    @media (max-width: $screen-xs-max) {
      width: 100%;
    }

    + .service_item{
      @media (max-width: $screen-xs-max) {
        margin: 50px 0 0;
      }
    }
  }

  .img_wrapper {
    margin: 0 0 60px;

    img {
      margin: 0 auto;
    }
  }

  .service_title {
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 40px;
  }

  .service_list {
    text-align: left;
    max-width: 430px;
    margin: 0 auto;

    @media (max-width: $screen-xs-max) {
      font-size: 24px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 24px;

      li {
        position: relative;
        padding: 0 0 0 50px;

        +li {
          margin: 25px 0 0;
        }

        &:before{
          position: absolute;
          content: '';
          background-repeat: no-repeat;
          background-position: center;
          background-image: url("data:image/svg+xml,%3Csvg width='33' height='23' viewBox='0 0 33 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M32.4111 0.476529C32.9763 1.08215 32.9436 2.03134 32.338 2.59659L11.9657 21.6107C10.8068 22.6924 9.00634 22.6857 7.85551 21.5954L0.468387 14.5971C-0.133012 14.0273 -0.158672 13.0779 0.411074 12.4765V12.4765C0.980821 11.8751 1.93022 11.8495 2.53162 12.4192L9.23611 18.7708C9.61972 19.1343 10.2199 19.1365 10.6062 18.7759L30.291 0.403423C30.8966 -0.161828 31.8458 -0.129098 32.4111 0.476529V0.476529Z' fill='%23F27E00'/%3E%3C/svg%3E");
          width: 33px;
          height: 23px;
          left: 0;
          top: 4px;
        }
      }
    }
  }
}
