.b_single_page {
  padding: 30px 0 100px;

  thead{
    th{
      text-align: left;
    }
  }

  .content_wrapper{

    img{
      margin: 0 0 30px;
    }

    h3{
      font-size: 24px;
      font-weight: 700;
    }

    p{
      text-align: justify;
    }

    ul{
      list-style: none;
      padding: 0;

      li{
        position: relative;
        padding: 0 0 0 17px;

        +li{
          margin: 3px 0 0;
        }

        &:before{
          position: absolute;
          content: '-';
          left: 0;
          top: 0;
        }
      }
    }
  }

  .content{
    margin: 0 0 25px;
  }
}
