.b_table_result {
  padding: 30px 0 100px;

  .btn_filter {
    width: 263px;
    margin: 0 30px 0 0;
    position: relative;

    @media (max-width: $screen-sm-max) {
      width: 200px;
    }

    @media (max-width: $screen-xs-max) {
      display: block;
      width: 100%;
      max-width: 480px;
      margin: 0 auto 30px;
    }

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 5px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.298219 0.0589537C0.376447 0.0209949 0.464827 0 0.556923 0H14.443C14.6664 0 14.8681 0.123618 14.9555 0.313916C15.0429 0.504382 14.9992 0.724576 14.8444 0.873724L9.31934 6.19316V13.4841C9.31934 13.6811 9.19805 13.8612 9.00679 13.9477C8.81561 14.0342 8.58782 14.0122 8.42003 13.8911L5.89526 12.0679C5.83716 12.0259 5.78939 11.9743 5.75376 11.9164C5.70645 11.8394 5.6807 11.7516 5.6807 11.6609V6.19316L0.155632 0.873724C0.000808469 0.724576 -0.0429737 0.504382 0.0445 0.313916C0.0958964 0.202055 0.186724 0.113205 0.298219 0.0589537ZM6.63893 5.62747L3.93794 3.02696H11.0621L8.36102 5.62747C8.26122 5.72355 8.20547 5.85187 8.20547 5.98523V12.4276L6.79457 11.409V5.98523C6.79457 5.85187 6.73873 5.72355 6.63893 5.62747Z' fill='white'/%3E%3C/svg%3E");
      width: 15px;
      height: 14px;
    }

    &.opened {
      background-color: #929292;
      border-color: #929292;
    }
  }

  .table_control_top {
    .control_bottom_wrapper {
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }

  .buttons_list_basket {
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }

  .table_control_bottom {
    padding: 30px 0 0;
  }

  .btn_clear_filter {
    margin: 0 45px 0 0;
    color: #000000;
    text-decoration: underline;
    letter-spacing: 0.45px;

    @media (max-width: $screen-xs-max) {
      margin: 0;
      font-size: 22px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .filter_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 60px;

    @media (max-width: $screen-xs-max) {
      position: relative;
      padding: 70px 0 0;
    }
  }

  .search_form {
    @media (max-width: $screen-xs-max) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    .form_wrapper {
      position: relative;
    }

    .form_control {
      width: 360px;
      padding-right: 55px;

      @media (max-width: $screen-sm-max) {
        width: 295px;
      }

      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
    }

    [type="search"] {
      box-sizing: border-box;
    }

    .btn_submit {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #929292;
      width: 35px;
      border: none;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg width='17' height='22' viewBox='0 0 17 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.09788 0C3.62554 0 0 3.48945 0 7.7939C0 12.0984 3.62554 15.5878 8.09788 15.5878C9.29044 15.5878 10.4228 15.3397 11.4422 14.8942L15.3894 21.5803C15.6244 21.9785 16.1503 22.1178 16.564 21.8916C16.9776 21.6654 17.1224 21.1593 16.8874 20.7611L12.9263 14.0514C14.9104 12.6308 16.1958 10.3568 16.1958 7.7939C16.1958 3.48945 12.5702 0 8.09788 0ZM1.72295 7.7939C1.72295 4.40529 4.5771 1.65828 8.09788 1.65828C11.6186 1.65828 14.4728 4.40529 14.4728 7.7939C14.4728 11.1825 11.6186 13.9295 8.09788 13.9295C4.5771 13.9295 1.72295 11.1825 1.72295 7.7939Z' fill='white'/%3E%3C/svg%3E");
    }
  }


  .selected_control {
    border: 1px solid #929292;
    padding: 15px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin: 0 0 30px;

    @media (max-width: $screen-md-max) {
      justify-content: center;
      padding: 30px 15px;
    }

    @media (max-width: $screen-xs-max) {
      padding: 30px 30px;
      text-align: center;
      display: block;
      font-size: 18px;
    }

    .selected_info {
      @media (max-width: $screen-md-max) {
        margin: 0 30px 0 0;
      }

      @media (max-width: $screen-xs-max) {
        width: 100%;
        margin: 0 0 30px;
        font-size: 24px;
      }
    }

    .selected_result {
      @media (max-width: $screen-xs-max) {
        font-size: 24px;
      }

      span {
        +span {
          margin: 0 0 0 4px;
        }
      }
    }

    .added_block {
      max-width: 175px;
      text-align: left;

      @media (max-width: $screen-md-max) {
        margin: 0 30px 0 0;
      }

      @media (max-width: $screen-xs-max) {
        width: auto;
        max-width: none;
        margin: 0 auto 30px;
        display: inline-block;
      }
    }

    .button_wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      @media (max-width: $screen-md-max) {
        width: 100%;
        padding: 30px 0 0;
        justify-content: center;
      }

      .btn {
        min-width: 260px;

        @media (max-width: $screen-xs-max) {
          min-width: auto;
          width: 100%;
          max-width: 390px;
          margin: 0 auto;
        }

        +.btn {
          margin: 0 0 0 15px;

          @media (max-width: $screen-xs-max) {
            margin: 0 auto 0;
          }
        }
      }

      .btn-list {
        @media (max-width: $screen-xs-max) {
          order: 2;
          margin: 15px auto 0;
        }
        &:after {
          content: '';
          display: inline-block;
          vertical-align: middle;
          margin: 0 0 0 5px;
          background-image: url("data:image/svg+xml,%3Csvg width='12' height='15' viewBox='0 0 12 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.35135 4.88839C3.28649 4.82143 3.17838 4.82143 3.13514 4.88839L2.52973 5.51339L2.11892 5.11161C2.05405 5.04464 1.94595 5.04464 1.9027 5.11161C1.83784 5.17857 1.83784 5.29018 1.9027 5.33482L2.42162 5.87054C2.48649 5.9375 2.59459 5.9375 2.63784 5.87054L3.35135 5.13393C3.41622 5.06696 3.41622 4.95536 3.35135 4.88839Z' fill='white'/%3E%3Cpath d='M7.45946 5.20089H4.06486C3.93514 5.20089 3.84865 5.29018 3.84865 5.42411C3.84865 5.55804 3.93514 5.64732 4.06486 5.64732H7.45946C7.58919 5.64732 7.67568 5.55804 7.67568 5.42411C7.67568 5.29018 7.56757 5.20089 7.45946 5.20089Z' fill='white'/%3E%3Cpath d='M3.35135 6.83036C3.28649 6.76339 3.17838 6.76339 3.13514 6.83036L2.52973 7.45536L2.11892 7.03125C2.05405 6.96429 1.94595 6.96429 1.9027 7.03125C1.83784 7.09821 1.83784 7.20982 1.9027 7.25446L2.42162 7.79018C2.48649 7.85714 2.59459 7.85714 2.63784 7.79018L3.35135 7.05357C3.41622 6.98661 3.41622 6.89732 3.35135 6.83036Z' fill='white'/%3E%3Cpath d='M7.45946 7.14286H4.06486C3.93514 7.14286 3.84865 7.23214 3.84865 7.36607C3.84865 7.5 3.93514 7.58929 4.06486 7.58929H7.45946C7.58919 7.58929 7.67568 7.5 7.67568 7.36607C7.67568 7.23214 7.56757 7.14286 7.45946 7.14286Z' fill='white'/%3E%3Cpath d='M3.35135 8.66071C3.28649 8.59375 3.17838 8.59375 3.13514 8.66071L2.52973 9.28571L2.11892 8.86161C2.05405 8.79464 1.94595 8.79464 1.9027 8.86161C1.83784 8.92857 1.83784 9.04018 1.9027 9.08482L2.42162 9.62054C2.48649 9.6875 2.59459 9.6875 2.63784 9.62054L3.35135 8.88393C3.41622 8.81696 3.41622 8.70536 3.35135 8.66071Z' fill='white'/%3E%3Cpath d='M6.37838 8.95089H4.06486C3.93514 8.95089 3.84865 9.04018 3.84865 9.17411C3.84865 9.30804 3.93514 9.39732 4.06486 9.39732H6.37838C6.50811 9.39732 6.59459 9.30804 6.59459 9.17411C6.59459 9.0625 6.48649 8.95089 6.37838 8.95089Z' fill='white'/%3E%3Cpath d='M3.13514 10.558L2.52973 11.183L2.11892 10.7589C2.05405 10.692 1.94595 10.692 1.9027 10.7589C1.83784 10.8259 1.83784 10.9375 1.9027 10.9821L2.42162 11.5179C2.48649 11.5848 2.59459 11.5848 2.63784 11.5179L3.35135 10.7812C3.41622 10.7143 3.41622 10.6027 3.35135 10.558C3.28649 10.5134 3.2 10.5134 3.13514 10.558Z' fill='white'/%3E%3Cpath d='M5.2973 11.317C5.42703 11.317 5.51351 11.2277 5.51351 11.0937C5.51351 10.9598 5.42703 10.8705 5.2973 10.8705H4.06486C3.93514 10.8705 3.84865 10.9598 3.84865 11.0937C3.84865 11.2277 3.93514 11.317 4.06486 11.317H5.2973Z' fill='white'/%3E%3Cpath d='M9.36216 9.50893C7.89189 9.50893 6.7027 10.7366 6.7027 12.2545C6.7027 13.7723 7.89189 15 9.36216 15C10.8324 15 12 13.75 12 12.2545C12 10.7366 10.8324 9.50893 9.36216 9.50893ZM11.1784 11.6071L9.38378 13.4598C9.23243 13.6161 8.97297 13.6161 8.82162 13.4598L7.54595 12.1429C7.3946 11.9866 7.3946 11.7187 7.54595 11.5625C7.6973 11.4062 7.95676 11.4062 8.10811 11.5625L9.1027 12.5893L10.6162 11.0268C10.7676 10.8705 11.027 10.8705 11.1784 11.0268C11.3297 11.183 11.3297 11.4509 11.1784 11.6071Z' fill='white'/%3E%3Cpath d='M3.26487 2.29911H6.31351C6.55135 2.29911 6.74595 2.09821 6.74595 1.85268V1.38393C6.74595 1.13839 6.55135 0.9375 6.31351 0.9375H5.51351C5.51351 0.892857 5.53514 0.825893 5.53514 0.78125C5.53514 0.334821 5.18919 0 4.77838 0C4.36757 0 4.02162 0.357143 4.02162 0.78125C4.02162 0.848214 4.02162 0.892857 4.04324 0.9375H3.26487C3.02703 0.9375 2.83243 1.13839 2.83243 1.38393V1.875C2.83243 2.12054 3.02703 2.29911 3.26487 2.29911ZM4.8 0.290179C4.99459 0.290179 5.16757 0.46875 5.16757 0.669643C5.16757 0.870536 4.99459 1.04911 4.8 1.04911C4.60541 1.04911 4.43243 0.870536 4.43243 0.669643C4.43243 0.446429 4.58378 0.290179 4.8 0.290179Z' fill='white'/%3E%3Cpath d='M1.47027 12.6339C1.23243 12.6339 1.03784 12.433 1.03784 12.1875V4.26339C1.03784 4.01786 1.23243 3.81696 1.47027 3.81696H8.06486C8.3027 3.81696 8.4973 4.01786 8.4973 4.26339V8.75C8.77838 8.68304 9.05946 8.63839 9.36216 8.63839C9.40541 8.63839 9.47027 8.63839 9.51351 8.63839V1.94196C9.51351 1.69643 9.31892 1.49554 9.08108 1.49554H7.17838V1.85268C7.17838 2.34375 6.78919 2.74554 6.31351 2.74554H3.26487C2.78919 2.74554 2.4 2.34375 2.4 1.85268V1.49554H0.432432C0.194595 1.49554 0 1.69643 0 1.94196V13.192C0 13.4375 0.194595 13.6384 0.432432 13.6384H6.11892C5.98919 13.3259 5.9027 12.9911 5.85946 12.6339H1.47027Z' fill='white'/%3E%3C/svg%3E");
          width: 12px;
          height: 15px;
        }
      }

      .btn-list-two {
        @media (max-width: $screen-xs-max) {
          order: 2;
          margin: 15px auto 0;
        }
        &:after {
          content: '';
          display: inline-block;
          vertical-align: middle;
          margin: 0 0 0 5px;
          background-image: url("data:image/svg+xml,%3Csvg width='13' height='15' viewBox='0 0 13 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.79307 6.19328C4.50741 6.19328 4.27583 6.4337 4.27583 6.73027C4.27583 7.02685 4.50741 7.26727 4.79307 7.26727H8.20686C8.49253 7.26727 8.7241 7.02685 8.7241 6.73027C8.7241 6.4337 8.49253 6.19328 8.20686 6.19328H4.79307Z' fill='white'/%3E%3Cpath d='M4.51728 10.5967C4.51728 10.3002 4.74885 10.0597 5.03452 10.0597H7.96555C8.25122 10.0597 8.48279 10.3002 8.48279 10.5967C8.48279 10.8933 8.25122 11.1337 7.96555 11.1337H5.03452C4.74885 11.1337 4.51728 10.8933 4.51728 10.5967Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.31307 2.32698C8.28635 2.09981 8.23583 1.79428 8.13878 1.48193C7.95317 0.884565 7.50201 0 6.48272 0C5.46344 0 5.01228 0.884565 4.82667 1.48193C4.72962 1.79428 4.6791 2.09981 4.65238 2.32698H0.517241C0.231577 2.32698 0 2.5674 0 2.86398C0 3.16055 0.231577 3.40097 0.517241 3.40097H1.6352L1.64284 3.52345C1.65639 3.74 1.67593 4.05104 1.69992 4.42908C1.74789 5.18513 1.81366 6.20934 1.88483 7.2818C2.02658 9.41799 2.19132 11.7704 2.27931 12.556C2.32599 12.9729 2.41221 13.3637 2.58827 13.7048C2.77089 14.0585 3.0362 14.3318 3.39507 14.5299C4.0668 14.9007 5.06279 15 6.44826 15C7.83372 15 8.82972 14.9007 9.50145 14.5299C9.86031 14.3318 10.1256 14.0585 10.3082 13.7048C10.4843 13.3637 10.5705 12.9729 10.6172 12.556C10.7052 11.7704 10.8699 9.41799 11.0117 7.2818C11.0829 6.20934 11.1486 5.18513 11.1966 4.42908C11.2206 4.05104 11.2401 3.74 11.2537 3.52345L11.2613 3.40097H12.4828C12.7684 3.40097 13 3.16055 13 2.86398C13 2.5674 12.7684 2.32698 12.4828 2.32698H8.31307ZM5.81119 1.81164C5.76844 1.94926 5.73701 2.08939 5.71404 2.21958H7.25141C7.22844 2.08939 7.19701 1.94926 7.15426 1.81164C6.99504 1.29922 6.77378 1.07399 6.48272 1.07399C6.19167 1.07399 5.97041 1.29922 5.81119 1.81164ZM2.68978 3.6873C2.70151 3.87398 2.7158 4.10062 2.73216 4.35848C2.78009 5.11385 2.84579 6.13693 2.91686 7.20798C3.05959 9.3588 3.22244 11.6782 3.30687 12.432C3.34639 12.7849 3.41103 13.025 3.50006 13.1974C3.58252 13.3572 3.69652 13.4799 3.88076 13.5817C4.29523 13.8105 5.04062 13.926 6.44826 13.926C7.8559 13.926 8.60128 13.8105 9.01576 13.5817C9.2 13.4799 9.314 13.3572 9.39646 13.1974C9.48548 13.025 9.55013 12.7849 9.58965 12.432C9.67407 11.6782 9.83693 9.3588 9.97965 7.20798C10.0507 6.13693 10.1164 5.11385 10.1644 4.35848C10.1807 4.10062 10.195 3.87398 10.2067 3.6873H2.68978Z' fill='white'/%3E%3C/svg%3E");
          width: 13px;
          height: 15px;
        }
      }

      .btn-basket {
        @media (max-width: $screen-xs-max) {
          order: 1;
        }
        &:after {
          content: '';
          display: inline-block;
          vertical-align: middle;
          margin: 0 0 0 5px;
          background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.46694 13C6.23148 13 6.85127 12.3545 6.85127 11.5583C6.85127 10.762 6.23148 10.1165 5.46694 10.1165C4.70239 10.1165 4.0826 10.762 4.0826 11.5583C4.0826 12.3545 4.70239 13 5.46694 13Z' fill='white'/%3E%3Cpath d='M10.3238 13C11.0884 13 11.7082 12.3545 11.7082 11.5583C11.7082 10.762 11.0884 10.1165 10.3238 10.1165C9.5593 10.1165 8.93951 10.762 8.93951 11.5583C8.93951 12.3545 9.5593 13 10.3238 13Z' fill='white'/%3E%3Cpath d='M12.1775 1.63722C11.2389 1.63722 3.33179 1.56391 3.33179 1.56391L2.93292 0.342106C2.88599 0.146617 2.69828 0 2.48711 0H0.469267C0.21117 0.0244361 0 0.244361 0 0.513159V0.855265C0 1.12406 0.21117 1.34399 0.469267 1.34399H1.92399L3.9653 8.89475C3.9653 8.89475 4.17647 9.57896 4.7396 9.72558C4.78652 9.75002 4.83345 9.75002 4.88037 9.75002H10.8401C11.0982 9.75002 11.3093 9.53009 11.3093 9.23686V9.06581C11.3093 8.77257 11.0982 8.55265 10.8401 8.55265H4.99769C4.95076 8.25941 4.88037 7.81956 4.88037 7.81956L11.2389 7.59964C11.2389 7.59964 12.154 7.55077 12.2713 6.91543C12.4356 6.06016 12.9987 2.00376 12.9987 2.00376C12.9987 2.00376 13.0691 1.63722 12.1775 1.63722ZM5.8893 5.49813C5.8893 5.69362 5.74852 5.84024 5.56081 5.84024C5.37311 5.84024 5.23232 5.69362 5.23232 5.49813V3.95865C5.23232 3.76317 5.37311 3.61655 5.56081 3.61655C5.74852 3.61655 5.8893 3.76317 5.8893 3.95865V5.49813ZM8.23563 5.49813C8.23563 5.69362 8.09485 5.84024 7.90715 5.84024C7.71944 5.84024 7.57866 5.69362 7.57866 5.49813V3.95865C7.57866 3.76317 7.71944 3.61655 7.90715 3.61655C8.09485 3.61655 8.23563 3.76317 8.23563 3.95865V5.49813ZM10.582 5.49813C10.582 5.69362 10.4412 5.84024 10.2535 5.84024C10.0658 5.84024 9.92499 5.69362 9.92499 5.49813V3.95865C9.92499 3.76317 10.0658 3.61655 10.2535 3.61655C10.4412 3.61655 10.582 3.76317 10.582 3.95865V5.49813Z' fill='white'/%3E%3C/svg%3E");
          width: 13px;
          height: 13px;
        }
      }
    }

    .checkbox .service_title {
      padding: 0 0 0 30px;
      line-height: 1.1;

      &:before {
        top: 6px;

        @media (max-width: $screen-xs-max) {
          top: 0;
        }
      }
    }
  }

  .table {
    padding: 30px 0;
    position: relative;

    .checkbox .service_title {
      padding: 0 0 0 40px;

      &:before {
        top: 1px;
      }
    }

    .t_body {
      max-height: 300px;
      overflow: auto;
      position: static !important;
    }

    .mCSB_scrollTools.mCSB_scrollTools_horizontal {
      bottom: -6px;
    }

    .mCSB_scrollTools_vertical {
      bottom: 0;
      top: 0;
      right: -6px;
      width: 6px;

      .mCSB_dragger .mCSB_dragger_bar {
        margin: 0;
        width: 6px;
      }

      .mCSB_draggerRail {
        width: 6px;
        margin: 0;
      }
    }

    .table_wrapper {
      position: relative;

      .table_head {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }


  .dataTables_scrollBody {
    max-height: 700px;
  }

  .table_over {
    overflow: auto;
    max-height: 700px;

    table {
      border-collapse: collapse;
    }
  }

  table {
    text-align: left;
    font-size: 16px;


    th {
      min-width: 145px;
      padding: 15px 20px;
      text-decoration: none;

      .checkbox_no_label {
        margin: 0 20px 0 0;
        user-select: none;
      }

      a {
        color: #000000;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    td {
      padding: 5px 20px;
      height: 62px;
    }
  }

  .filter_container {
    display: none;
  }

  .filter_container_wrapper {
    border: 1px solid #929292;
    position: relative;
    padding: 30px 30px;
    margin: 0 0 30px;

    .btn_close_filter {
      position: absolute;
      font-size: 16px;
      font-weight: 700;
      color: #000000;
      top: 30px;
      right: 30px;
      text-decoration: underline;

      @media (max-width: $screen-xs-max) {
        font-size: 0;
        width: 21px;
        height: 21px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.44443 0.144831C1.35165 0.0520484 1.2258 -5.28248e-05 1.09458 4.01915e-08C0.963369 5.29857e-05 0.837556 0.0522556 0.744848 0.145113L0.14455 0.74638C-0.0482931 0.939534 -0.0481672 1.25241 0.144831 1.44541L5.19968 6.50027L0.144817 11.5556C-0.0482778 11.7487 -0.0482714 12.0618 0.144831 12.2549L0.745129 12.8552C0.938231 13.0483 1.25131 13.0483 1.44442 12.8552L6.49972 7.80031L11.5546 12.8552C11.7476 13.0482 12.0604 13.0483 12.2536 12.8555L12.8549 12.2552C12.9477 12.1624 12.9999 12.0366 13 11.9054C13.0001 11.7742 12.948 11.6483 12.8552 11.5556L7.79988 6.50027L12.8552 1.44542C12.9479 1.35269 13 1.22691 13 1.09576C13 0.964606 12.9479 0.838826 12.8552 0.74609L12.2539 0.144823C12.1611 0.0520901 12.0354 -4.31113e-06 11.9042 4.01915e-08C11.7731 4.3836e-06 11.6473 0.0521071 11.5546 0.144846L6.49972 5.20012L1.44443 0.144831Z' fill='black'/%3E%3C/svg%3E");
      }

      &:hover {
        text-decoration: none;
      }
    }

    .filter_buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      @media (max-width: $screen-xs-max) {
        display: block;
      }

      .link {
        color: #000000;

        &:hover {
          text-decoration: underline;
        }
      }

      .button_item {
        +.button_item {
          @media (max-width: $screen-xs-max) {
            margin: 30px 0 0;
          }
        }
      }

      .btn_show_result {
        display: block;
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
      }
    }

    .btn_show_result {
      min-width: 270px;
    }

    .filter_row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      @media (max-width: $screen-xs-max) {
        display: block;
      }

      +.filter_row {
        margin: 30px 0 0;
      }
    }

    .filter_title {
      font-weight: 700;
      font-size: 16px;
      text-decoration: underline;
      width: 30%;

      @media (max-width: $screen-xs-max) {
        width: 100%;
        font-size: 18px;
        margin: 0 0 15px;
      }
    }

    .filter_list {
      margin: 0 0 30px;
    }

    .filter_content {
      width: 70%;

      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
    }

    .column_wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0 -15px;
    }

    .content_column {
      width: calc(50% - 30px);
      margin: 0 15px;
    }
  }

  .container_wrapper {
    max-width: 815px;

    @media (max-width: $screen-md-max) {
      max-width: 765px;
    }
  }

  .control_bottom_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 15px;

    @media (max-width: $screen-xs-max) {
      display: block;
    }

    .control_item {
      margin: 0 55px 10px 0;

      &.platform {
        display: none;

        @media (max-width: $screen-xs-max) {
          display: block;
        }
      }

      +.control_item {
        @media (max-width: $screen-xs-max) {
          margin: 25px 0 0;
        }
      }
    }

    a {
      text-decoration: underline;
      color: #000000;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .number_lines {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .selectric_wrapper{
      margin: 0 0 0 10px;
    }

    .selectric{
      border: none!important;
      background: transparent;
      
      .label{
        margin: 0;
        padding: 0;
        line-height: 1.6;
        font-weight: 700;
        text-decoration: underline;
        display: inline-block;
        vertical-align: middle;
      }

      .button{
        display: none!important;
      }
    }

    .selectric-items{
      min-width: 30px;
      left: 50%;
      transform: translate(-50%, 0);
      li{
        padding: 3px 5px;
      }
    }
  }

  table.dataTable thead th,
  table.dataTable thead td {
    padding: 15px 15px;
  }

  table.dataTable tbody th,
  table.dataTable tbody td {
    padding: 5px 15px;
  }

  .mCSB_outside+.mCSB_scrollTools.mCSB_scrollTools_vertical {
    right: -7px;
    width: 6px;
  }

  .mCSB_scrollTools.mCSB_scrollTools_vertical .mCSB_dragger .mCSB_dragger_bar,
  .mCSB_scrollTools.mCSB_scrollTools_vertical .mCSB_draggerRail {
    width: 6px;
    margin: 0;
  }

  .mCustomScrollBox+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal,
  .mCustomScrollBox+.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    bottom: -7px;
  }


  .dataTables_length {
    display: none;
  }

  .dataTables_filter {
    display: none;
  }

  .dataTables_info {
    display: none;
  }

  .dataTables_paginate {
    display: none;
  }

  table.dataTable thead .sorting {
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='12' viewBox='0 0 9 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 0L9 5H0L4.5 0Z' fill='%23929292'/%3E%3Cpath d='M4.5 12L0 7H9L4.5 12Z' fill='%23929292'/%3E%3C/svg%3E");
    background-position: calc(100% - 5px) center;
  }

  table.dataTable thead .sorting_asc {
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='12' viewBox='0 0 9 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 0L9 5H0L4.5 0Z' fill='%23494949'/%3E%3Cpath d='M4.5 12L0 7H9L4.5 12Z' fill='%23929292'/%3E%3C/svg%3E");
    background-position: calc(100% - 5px) center;
  }

  table.dataTable thead .sorting_desc {
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='12' viewBox='0 0 9 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 0L9 5H0L4.5 0Z' fill='%23929292'/%3E%3Cpath d='M4.5 12L0 7H9L4.5 12Z' fill='%23494949'/%3E%3C/svg%3E");
    background-position: calc(100% - 5px) center;
  }
}
