.b_trust_us {
  padding-bottom: 0;

  .trust_numbers {
    display: flex;
    flex-wrap: wrap;
    max-width: 780px;
    margin: 0 auto;

    @media (max-width: $screen-xs-max) {
      max-width: 300px;
    }
  }

  .numbers_item {
    width: 50%;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1.2;
    margin: 0 0 50px;

    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }

  .number {
    color: #f27e00;
  }
}
