.b_footer {
  border-top: 1px solid #aeaeae;
  padding: 40px 0;

  .footer_top{
    padding: 40px 0;

    @media (max-width: $screen-sm-max) {
      padding: 0 0 40px;
    }
  }

  .footer_wrapper{
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $screen-xs-max) {
      margin: 0 -15px;
    }
  }

  .footer_item{
    width: 25%;
    padding: 0 15px;

    @media (max-width: $screen-sm-max) {
      width: 50%;
      margin: 50px 0 0;
    }
  }

  .menu_title{
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 60px;
  }

  .menu_wrapper{
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      font-size: 18px;

      li{
        + li{
          margin: 25px 0 0;
        }
      }

      a{
        color: #000000;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }


  .footer_bottom{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #929292;
    font-weight: 500;

    @media (max-width: $screen-xs-max) {
      justify-content: center;
      text-align: center;
      padding: 20px 0 50px;
    }

    a{
      color: #929292;
      &:hover{
        text-decoration: underline;
      }
    }

    .copy{
      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
    }

    .development_by{
      @media (max-width: $screen-xs-max) {
        width: 100%;
        margin: 20px 0 0;
      }
    }
  }
}