body.menu_open {
  .header {
    .logo_link {
      color: #fff !important;
    }
  }

  .menu_toggler {
    span {
      background-color: #fff !important;
    }
  }

  .btn_list {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='38' viewBox='0 0 30 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.37838 12.3839C8.21622 12.2143 7.94595 12.2143 7.83784 12.3839L6.32432 13.9673L5.2973 12.9494C5.13514 12.7798 4.86486 12.7798 4.75676 12.9494C4.59459 13.119 4.59459 13.4018 4.75676 13.5149L6.05405 14.872C6.21622 15.0417 6.48649 15.0417 6.59459 14.872L8.37838 13.006C8.54054 12.8363 8.54054 12.5536 8.37838 12.3839Z' fill='%23fff'/%3E%3Cpath d='M18.6486 13.1756H10.1622C9.83784 13.1756 9.62162 13.4018 9.62162 13.7411C9.62162 14.0804 9.83784 14.3065 10.1622 14.3065H18.6486C18.973 14.3065 19.1892 14.0804 19.1892 13.7411C19.1892 13.4018 18.9189 13.1756 18.6486 13.1756Z' fill='%23fff'/%3E%3Cpath d='M8.37838 17.3036C8.21622 17.1339 7.94595 17.1339 7.83784 17.3036L6.32432 18.8869L5.2973 17.8125C5.13514 17.6429 4.86486 17.6429 4.75676 17.8125C4.59459 17.9821 4.59459 18.2649 4.75676 18.378L6.05405 19.7351C6.21622 19.9048 6.48649 19.9048 6.59459 19.7351L8.37838 17.869C8.54054 17.6994 8.54054 17.4732 8.37838 17.3036Z' fill='%23fff'/%3E%3Cpath d='M18.6486 18.0952H10.1622C9.83784 18.0952 9.62162 18.3214 9.62162 18.6607C9.62162 19 9.83784 19.2262 10.1622 19.2262H18.6486C18.973 19.2262 19.1892 19 19.1892 18.6607C19.1892 18.3214 18.9189 18.0952 18.6486 18.0952Z' fill='%23fff'/%3E%3Cpath d='M8.37838 21.9405C8.21622 21.7708 7.94595 21.7708 7.83784 21.9405L6.32432 23.5238L5.2973 22.4494C5.13514 22.2798 4.86486 22.2798 4.75676 22.4494C4.59459 22.619 4.59459 22.9018 4.75676 23.0149L6.05405 24.372C6.21622 24.5417 6.48649 24.5417 6.59459 24.372L8.37838 22.506C8.54054 22.3363 8.54054 22.0536 8.37838 21.9405Z' fill='%23fff'/%3E%3Cpath d='M15.9459 22.6756H10.1622C9.83784 22.6756 9.62162 22.9018 9.62162 23.2411C9.62162 23.5804 9.83784 23.8065 10.1622 23.8065H15.9459C16.2703 23.8065 16.4865 23.5804 16.4865 23.2411C16.4865 22.9583 16.2162 22.6756 15.9459 22.6756Z' fill='%23fff'/%3E%3Cpath d='M7.83784 26.747L6.32432 28.3304L5.2973 27.256C5.13514 27.0863 4.86486 27.0863 4.75676 27.256C4.59459 27.4256 4.59459 27.7083 4.75676 27.8214L6.05405 29.1786C6.21622 29.3482 6.48649 29.3482 6.59459 29.1786L8.37838 27.3125C8.54054 27.1429 8.54054 26.8601 8.37838 26.747C8.21622 26.6339 8 26.6339 7.83784 26.747Z' fill='%23fff'/%3E%3Cpath d='M13.2432 28.6696C13.5676 28.6696 13.7838 28.4435 13.7838 28.1042C13.7838 27.7649 13.5676 27.5387 13.2432 27.5387H10.1622C9.83784 27.5387 9.62162 27.7649 9.62162 28.1042C9.62162 28.4435 9.83784 28.6696 10.1622 28.6696H13.2432Z' fill='%23fff'/%3E%3Cpath d='M23.4054 24.0893C19.7297 24.0893 16.7568 27.1994 16.7568 31.0446C16.7568 34.8899 19.7297 38 23.4054 38C27.0811 38 30 34.8333 30 31.0446C30 27.1994 27.0811 24.0893 23.4054 24.0893ZM27.9459 29.4048L23.4595 34.0982C23.0811 34.494 22.4324 34.494 22.0541 34.0982L18.8649 30.7619C18.4865 30.3661 18.4865 29.6875 18.8649 29.2917C19.2432 28.8958 19.8919 28.8958 20.2703 29.2917L22.7568 31.8929L26.5405 27.9345C26.9189 27.5387 27.5676 27.5387 27.9459 27.9345C28.3243 28.3304 28.3243 29.0089 27.9459 29.4048Z' fill='%23fff'/%3E%3Cpath d='M8.16216 5.8244H15.7838C16.3784 5.8244 16.8649 5.31548 16.8649 4.69345V3.50595C16.8649 2.88393 16.3784 2.375 15.7838 2.375H13.7838C13.7838 2.2619 13.8378 2.09226 13.8378 1.97917C13.8378 0.848214 12.973 0 11.9459 0C10.9189 0 10.0541 0.904762 10.0541 1.97917C10.0541 2.14881 10.0541 2.2619 10.1081 2.375H8.16216C7.56757 2.375 7.08108 2.88393 7.08108 3.50595V4.75C7.08108 5.37202 7.56757 5.8244 8.16216 5.8244ZM12 0.735119C12.4865 0.735119 12.9189 1.1875 12.9189 1.69643C12.9189 2.20536 12.4865 2.65774 12 2.65774C11.5135 2.65774 11.0811 2.20536 11.0811 1.69643C11.0811 1.13095 11.4595 0.735119 12 0.735119Z' fill='%23fff'/%3E%3Cpath d='M3.67568 32.006C3.08108 32.006 2.59459 31.497 2.59459 30.875V10.8006C2.59459 10.1786 3.08108 9.66964 3.67568 9.66964H20.1622C20.7568 9.66964 21.2432 10.1786 21.2432 10.8006V22.1667C21.9459 21.997 22.6486 21.8839 23.4054 21.8839C23.5135 21.8839 23.6757 21.8839 23.7838 21.8839V4.91964C23.7838 4.29762 23.2973 3.78869 22.7027 3.78869H17.9459V4.69345C17.9459 5.9375 16.973 6.95536 15.7838 6.95536H8.16216C6.97297 6.95536 6 5.9375 6 4.69345V3.78869H1.08108C0.486486 3.78869 0 4.29762 0 4.91964V33.4196C0 34.0417 0.486486 34.5506 1.08108 34.5506H15.2973C14.973 33.7589 14.7568 32.9107 14.6486 32.006H3.67568Z' fill='%23fff'/%3E%3C/svg%3E") !important;
  }

  .btn_phone{
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.95991 2.18111C5.24589 2.37878 4.33812 3.09841 3.51285 4.01397C3.11717 4.45293 2.78068 4.89191 2.54029 5.24893C2.4198 5.42789 2.33004 5.5765 2.27089 5.68663C2.24501 5.73483 2.22974 5.76695 2.22156 5.78492C2.21503 5.8327 2.20327 5.93394 2.19492 6.09285C2.1834 6.3124 2.17974 6.6175 2.20065 6.99884C2.24245 7.76097 2.382 8.82076 2.74844 10.1045C3.47948 12.6656 5.12092 16.1443 8.73478 19.9453C12.345 23.7425 15.9904 25.754 18.8642 26.7907C20.3033 27.3099 21.5487 27.5845 22.4985 27.716C23.4789 27.8518 24.076 27.8259 24.2405 27.7969C24.3459 27.7784 24.5693 27.6921 24.9089 27.4601C25.2314 27.2397 25.5884 26.9365 25.9518 26.5813C26.682 25.8674 27.3567 25.0232 27.7421 24.4192C27.8238 24.2911 27.9216 23.9941 27.4423 23.2627C26.9789 22.5555 26.1515 21.7438 25.1074 20.9044C24.0721 20.0722 23.198 19.5305 22.5356 19.2784C22.2068 19.1533 21.9859 19.1214 21.8562 19.1251C21.796 19.1269 21.7651 19.136 21.7542 19.1399C21.7455 19.1431 21.7433 19.145 21.7404 19.1475C21.6482 19.2295 21.4881 19.4319 21.2441 19.8115C21.1075 20.0241 20.9887 20.2195 20.8608 20.4299C20.7496 20.6127 20.6316 20.8068 20.4892 21.0332C20.2189 21.4626 19.9068 21.9296 19.5641 22.3188C19.242 22.6846 18.7738 23.1223 18.1579 23.2882C17.5024 23.4646 16.8141 23.2738 16.2845 23.0608C15.7094 22.8295 15.0882 22.474 14.4657 22.0571C13.2157 21.2199 11.8318 20.0481 10.5933 18.8353C9.31833 17.5868 8.3614 16.3086 7.71171 15.2267C7.38708 14.6862 7.13315 14.1847 6.95384 13.7508C6.78634 13.3455 6.64612 12.9105 6.62459 12.531C6.60024 12.1021 6.77872 11.7562 6.9017 11.5599C7.03844 11.3416 7.21342 11.1419 7.38308 10.9699C7.72453 10.6238 8.16944 10.2657 8.60736 9.93662C9.05172 9.60271 9.5279 9.26998 9.94451 8.979C10.2321 8.7781 10.4834 8.60255 10.6876 8.45411C10.6584 8.25726 10.584 7.96974 10.4472 7.60191C10.137 6.76772 9.57999 5.71591 8.87905 4.75344M5.95991 2.18111C5.9814 2.18342 6.04585 2.19314 6.16435 2.24057C6.36618 2.32137 6.63341 2.47605 6.94978 2.71791C7.58015 3.1998 8.27974 3.93081 8.87905 4.75344M8.27962 0.98774C9.10832 1.62125 9.94985 2.51442 10.6475 3.47208C11.4548 4.58056 12.1111 5.80693 12.4967 6.84386C12.6872 7.35624 12.8309 7.8732 12.8741 8.33376C12.8957 8.56319 12.8973 8.82829 12.838 9.09285C12.7788 9.35696 12.6381 9.70523 12.3073 9.96661L12.3025 9.97036C12.0218 10.1897 11.6303 10.4631 11.2339 10.7399L11.1985 10.7646C10.7769 11.0591 10.3318 11.3703 9.92278 11.6777C9.50728 11.9899 9.16662 12.2704 8.94133 12.4988C8.90691 12.5337 8.878 12.5645 8.8539 12.5915C8.88154 12.6801 8.92104 12.7899 8.97483 12.9201C9.10587 13.2371 9.30779 13.6417 9.58702 14.1066C10.1451 15.0359 10.9879 16.1665 12.1247 17.2797C13.298 18.4286 14.5772 19.5058 15.6844 20.2473C16.2404 20.6197 16.7214 20.8859 17.1021 21.0391C17.4144 21.1647 17.5631 21.1748 17.596 21.1778C17.6289 21.1586 17.7382 21.0886 17.9216 20.8803C18.1435 20.6282 18.3798 20.2841 18.6378 19.8742C18.7336 19.7219 18.8467 19.5367 18.9628 19.3465C19.1157 19.0964 19.2736 18.8378 19.4038 18.6351C19.6444 18.2608 19.9452 17.8229 20.2865 17.5197C21.1942 16.7133 22.388 16.889 23.3148 17.2417C24.29 17.6127 25.3723 18.3173 26.4792 19.2072C27.5773 20.09 28.6189 21.0732 29.2721 22.0701C29.9094 23.0427 30.3716 24.3589 29.5862 25.5896C29.1045 26.3445 28.3219 27.3169 27.482 28.1381C27.0602 28.5505 26.6039 28.9445 26.1445 29.2584C25.7021 29.5607 25.1751 29.846 24.621 29.9436C24.1261 30.0309 23.266 30.0232 22.1979 29.8753C21.0993 29.7232 19.7053 29.4124 18.1206 28.8407C14.9466 27.6956 11.0069 25.5034 7.14857 21.4453C-0.56356 13.3338 -0.126398 6.29067 0.0897131 5.29245C0.141248 5.05441 0.255965 4.82122 0.343926 4.65743C0.446192 4.46699 0.576557 4.25493 0.725549 4.03365C1.02413 3.5902 1.42401 3.07045 1.88722 2.55656C2.76905 1.57826 4.05625 0.422565 5.4366 0.0640709C5.99917 -0.0826979 6.54964 0.0457393 6.97864 0.217477C7.42461 0.396009 7.86644 0.671877 8.27962 0.98774ZM8.74904 12.7265C8.74904 12.7265 8.75059 12.7229 8.75536 12.7153C8.7517 12.7226 8.74904 12.7265 8.74904 12.7265Z' fill='%23fff'/%3E%3C/svg%3E")!important;
  }
}

.sticky-wrapper {
  &.is-sticky {
    .header {
      background-color: #494949;
      transform: none;

      .logo_link {
        color: #fff;
      }
    }

    .menu_toggler {
      span {
        background-color: #fff;
      }
    }

    .btn_phone {
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.95991 2.18111C5.24589 2.37878 4.33812 3.09841 3.51285 4.01397C3.11717 4.45293 2.78068 4.89191 2.54029 5.24893C2.4198 5.42789 2.33004 5.5765 2.27089 5.68663C2.24501 5.73483 2.22974 5.76695 2.22156 5.78492C2.21503 5.8327 2.20327 5.93394 2.19492 6.09285C2.1834 6.3124 2.17974 6.6175 2.20065 6.99884C2.24245 7.76097 2.382 8.82076 2.74844 10.1045C3.47948 12.6656 5.12092 16.1443 8.73478 19.9453C12.345 23.7425 15.9904 25.754 18.8642 26.7907C20.3033 27.3099 21.5487 27.5845 22.4985 27.716C23.4789 27.8518 24.076 27.8259 24.2405 27.7969C24.3459 27.7784 24.5693 27.6921 24.9089 27.4601C25.2314 27.2397 25.5884 26.9365 25.9518 26.5813C26.682 25.8674 27.3567 25.0232 27.7421 24.4192C27.8238 24.2911 27.9216 23.9941 27.4423 23.2627C26.9789 22.5555 26.1515 21.7438 25.1074 20.9044C24.0721 20.0722 23.198 19.5305 22.5356 19.2784C22.2068 19.1533 21.9859 19.1214 21.8562 19.1251C21.796 19.1269 21.7651 19.136 21.7542 19.1399C21.7455 19.1431 21.7433 19.145 21.7404 19.1475C21.6482 19.2295 21.4881 19.4319 21.2441 19.8115C21.1075 20.0241 20.9887 20.2195 20.8608 20.4299C20.7496 20.6127 20.6316 20.8068 20.4892 21.0332C20.2189 21.4626 19.9068 21.9296 19.5641 22.3188C19.242 22.6846 18.7738 23.1223 18.1579 23.2882C17.5024 23.4646 16.8141 23.2738 16.2845 23.0608C15.7094 22.8295 15.0882 22.474 14.4657 22.0571C13.2157 21.2199 11.8318 20.0481 10.5933 18.8353C9.31833 17.5868 8.3614 16.3086 7.71171 15.2267C7.38708 14.6862 7.13315 14.1847 6.95384 13.7508C6.78634 13.3455 6.64612 12.9105 6.62459 12.531C6.60024 12.1021 6.77872 11.7562 6.9017 11.5599C7.03844 11.3416 7.21342 11.1419 7.38308 10.9699C7.72453 10.6238 8.16944 10.2657 8.60736 9.93662C9.05172 9.60271 9.5279 9.26998 9.94451 8.979C10.2321 8.7781 10.4834 8.60255 10.6876 8.45411C10.6584 8.25726 10.584 7.96974 10.4472 7.60191C10.137 6.76772 9.57999 5.71591 8.87905 4.75344M5.95991 2.18111C5.9814 2.18342 6.04585 2.19314 6.16435 2.24057C6.36618 2.32137 6.63341 2.47605 6.94978 2.71791C7.58015 3.1998 8.27974 3.93081 8.87905 4.75344M8.27962 0.98774C9.10832 1.62125 9.94985 2.51442 10.6475 3.47208C11.4548 4.58056 12.1111 5.80693 12.4967 6.84386C12.6872 7.35624 12.8309 7.8732 12.8741 8.33376C12.8957 8.56319 12.8973 8.82829 12.838 9.09285C12.7788 9.35696 12.6381 9.70523 12.3073 9.96661L12.3025 9.97036C12.0218 10.1897 11.6303 10.4631 11.2339 10.7399L11.1985 10.7646C10.7769 11.0591 10.3318 11.3703 9.92278 11.6777C9.50728 11.9899 9.16662 12.2704 8.94133 12.4988C8.90691 12.5337 8.878 12.5645 8.8539 12.5915C8.88154 12.6801 8.92104 12.7899 8.97483 12.9201C9.10587 13.2371 9.30779 13.6417 9.58702 14.1066C10.1451 15.0359 10.9879 16.1665 12.1247 17.2797C13.298 18.4286 14.5772 19.5058 15.6844 20.2473C16.2404 20.6197 16.7214 20.8859 17.1021 21.0391C17.4144 21.1647 17.5631 21.1748 17.596 21.1778C17.6289 21.1586 17.7382 21.0886 17.9216 20.8803C18.1435 20.6282 18.3798 20.2841 18.6378 19.8742C18.7336 19.7219 18.8467 19.5367 18.9628 19.3465C19.1157 19.0964 19.2736 18.8378 19.4038 18.6351C19.6444 18.2608 19.9452 17.8229 20.2865 17.5197C21.1942 16.7133 22.388 16.889 23.3148 17.2417C24.29 17.6127 25.3723 18.3173 26.4792 19.2072C27.5773 20.09 28.6189 21.0732 29.2721 22.0701C29.9094 23.0427 30.3716 24.3589 29.5862 25.5896C29.1045 26.3445 28.3219 27.3169 27.482 28.1381C27.0602 28.5505 26.6039 28.9445 26.1445 29.2584C25.7021 29.5607 25.1751 29.846 24.621 29.9436C24.1261 30.0309 23.266 30.0232 22.1979 29.8753C21.0993 29.7232 19.7053 29.4124 18.1206 28.8407C14.9466 27.6956 11.0069 25.5034 7.14857 21.4453C-0.56356 13.3338 -0.126398 6.29067 0.0897131 5.29245C0.141248 5.05441 0.255965 4.82122 0.343926 4.65743C0.446192 4.46699 0.576557 4.25493 0.725549 4.03365C1.02413 3.5902 1.42401 3.07045 1.88722 2.55656C2.76905 1.57826 4.05625 0.422565 5.4366 0.0640709C5.99917 -0.0826979 6.54964 0.0457393 6.97864 0.217477C7.42461 0.396009 7.86644 0.671877 8.27962 0.98774ZM8.74904 12.7265C8.74904 12.7265 8.75059 12.7229 8.75536 12.7153C8.7517 12.7226 8.74904 12.7265 8.74904 12.7265Z' fill='%23f27e00'/%3E%3C/svg%3E");
    }

    .btn_list {
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='38' viewBox='0 0 30 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.37838 12.3839C8.21622 12.2143 7.94595 12.2143 7.83784 12.3839L6.32432 13.9673L5.2973 12.9494C5.13514 12.7798 4.86486 12.7798 4.75676 12.9494C4.59459 13.119 4.59459 13.4018 4.75676 13.5149L6.05405 14.872C6.21622 15.0417 6.48649 15.0417 6.59459 14.872L8.37838 13.006C8.54054 12.8363 8.54054 12.5536 8.37838 12.3839Z' fill='%23fff'/%3E%3Cpath d='M18.6486 13.1756H10.1622C9.83784 13.1756 9.62162 13.4018 9.62162 13.7411C9.62162 14.0804 9.83784 14.3065 10.1622 14.3065H18.6486C18.973 14.3065 19.1892 14.0804 19.1892 13.7411C19.1892 13.4018 18.9189 13.1756 18.6486 13.1756Z' fill='%23fff'/%3E%3Cpath d='M8.37838 17.3036C8.21622 17.1339 7.94595 17.1339 7.83784 17.3036L6.32432 18.8869L5.2973 17.8125C5.13514 17.6429 4.86486 17.6429 4.75676 17.8125C4.59459 17.9821 4.59459 18.2649 4.75676 18.378L6.05405 19.7351C6.21622 19.9048 6.48649 19.9048 6.59459 19.7351L8.37838 17.869C8.54054 17.6994 8.54054 17.4732 8.37838 17.3036Z' fill='%23fff'/%3E%3Cpath d='M18.6486 18.0952H10.1622C9.83784 18.0952 9.62162 18.3214 9.62162 18.6607C9.62162 19 9.83784 19.2262 10.1622 19.2262H18.6486C18.973 19.2262 19.1892 19 19.1892 18.6607C19.1892 18.3214 18.9189 18.0952 18.6486 18.0952Z' fill='%23fff'/%3E%3Cpath d='M8.37838 21.9405C8.21622 21.7708 7.94595 21.7708 7.83784 21.9405L6.32432 23.5238L5.2973 22.4494C5.13514 22.2798 4.86486 22.2798 4.75676 22.4494C4.59459 22.619 4.59459 22.9018 4.75676 23.0149L6.05405 24.372C6.21622 24.5417 6.48649 24.5417 6.59459 24.372L8.37838 22.506C8.54054 22.3363 8.54054 22.0536 8.37838 21.9405Z' fill='%23fff'/%3E%3Cpath d='M15.9459 22.6756H10.1622C9.83784 22.6756 9.62162 22.9018 9.62162 23.2411C9.62162 23.5804 9.83784 23.8065 10.1622 23.8065H15.9459C16.2703 23.8065 16.4865 23.5804 16.4865 23.2411C16.4865 22.9583 16.2162 22.6756 15.9459 22.6756Z' fill='%23fff'/%3E%3Cpath d='M7.83784 26.747L6.32432 28.3304L5.2973 27.256C5.13514 27.0863 4.86486 27.0863 4.75676 27.256C4.59459 27.4256 4.59459 27.7083 4.75676 27.8214L6.05405 29.1786C6.21622 29.3482 6.48649 29.3482 6.59459 29.1786L8.37838 27.3125C8.54054 27.1429 8.54054 26.8601 8.37838 26.747C8.21622 26.6339 8 26.6339 7.83784 26.747Z' fill='%23fff'/%3E%3Cpath d='M13.2432 28.6696C13.5676 28.6696 13.7838 28.4435 13.7838 28.1042C13.7838 27.7649 13.5676 27.5387 13.2432 27.5387H10.1622C9.83784 27.5387 9.62162 27.7649 9.62162 28.1042C9.62162 28.4435 9.83784 28.6696 10.1622 28.6696H13.2432Z' fill='%23fff'/%3E%3Cpath d='M23.4054 24.0893C19.7297 24.0893 16.7568 27.1994 16.7568 31.0446C16.7568 34.8899 19.7297 38 23.4054 38C27.0811 38 30 34.8333 30 31.0446C30 27.1994 27.0811 24.0893 23.4054 24.0893ZM27.9459 29.4048L23.4595 34.0982C23.0811 34.494 22.4324 34.494 22.0541 34.0982L18.8649 30.7619C18.4865 30.3661 18.4865 29.6875 18.8649 29.2917C19.2432 28.8958 19.8919 28.8958 20.2703 29.2917L22.7568 31.8929L26.5405 27.9345C26.9189 27.5387 27.5676 27.5387 27.9459 27.9345C28.3243 28.3304 28.3243 29.0089 27.9459 29.4048Z' fill='%23fff'/%3E%3Cpath d='M8.16216 5.8244H15.7838C16.3784 5.8244 16.8649 5.31548 16.8649 4.69345V3.50595C16.8649 2.88393 16.3784 2.375 15.7838 2.375H13.7838C13.7838 2.2619 13.8378 2.09226 13.8378 1.97917C13.8378 0.848214 12.973 0 11.9459 0C10.9189 0 10.0541 0.904762 10.0541 1.97917C10.0541 2.14881 10.0541 2.2619 10.1081 2.375H8.16216C7.56757 2.375 7.08108 2.88393 7.08108 3.50595V4.75C7.08108 5.37202 7.56757 5.8244 8.16216 5.8244ZM12 0.735119C12.4865 0.735119 12.9189 1.1875 12.9189 1.69643C12.9189 2.20536 12.4865 2.65774 12 2.65774C11.5135 2.65774 11.0811 2.20536 11.0811 1.69643C11.0811 1.13095 11.4595 0.735119 12 0.735119Z' fill='%23fff'/%3E%3Cpath d='M3.67568 32.006C3.08108 32.006 2.59459 31.497 2.59459 30.875V10.8006C2.59459 10.1786 3.08108 9.66964 3.67568 9.66964H20.1622C20.7568 9.66964 21.2432 10.1786 21.2432 10.8006V22.1667C21.9459 21.997 22.6486 21.8839 23.4054 21.8839C23.5135 21.8839 23.6757 21.8839 23.7838 21.8839V4.91964C23.7838 4.29762 23.2973 3.78869 22.7027 3.78869H17.9459V4.69345C17.9459 5.9375 16.973 6.95536 15.7838 6.95536H8.16216C6.97297 6.95536 6 5.9375 6 4.69345V3.78869H1.08108C0.486486 3.78869 0 4.29762 0 4.91964V33.4196C0 34.0417 0.486486 34.5506 1.08108 34.5506H15.2973C14.973 33.7589 14.7568 32.9107 14.6486 32.006H3.67568Z' fill='%23fff'/%3E%3C/svg%3E");
    }

    .right_content {
      .sticky_button {
        opacity: 1;
        visibility: visible;
      }
    }

    .right_content_inner {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.b_header {
  .header {
    background-color: #f7f7f7;
    z-index: 10;
    width: 100%;
    transition: all .2s linear;
  }

  .header_wrapper {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 5;

    @media (max-width: $screen-xs-max) {
      padding: 23px 0;
    }
  }

  .left_content {
    @media (max-width: $screen-xs-max) {
      width: 100%;
      text-align: center;
    }
  }

  .left_content_inner {
    position: relative;
    z-index: 2;
  }

  .header_menu {
    position: absolute;
    background-color: #494949;
    z-index: 1;
    top: 0;
    left: -20px;
    padding: 125px 40px 100px 75px;
    max-width: 375px;
    color: #fff;
    display: none;
    text-align: left;
    max-height: 100vh;
    overflow: hidden;

    @media (max-width: $screen-xs-max) {
      max-width: none;
      left: -15px;
      right: -15px;
      padding: 115px 15px 50px 15px;
    }

    @media (max-height: 400px) {
      padding: 125px 40px 25px 75px;
    }

    .menu_inner{
      padding: 0 0 25px;
      overflow: auto;
      max-height: calc(95vh - 125px);
    }

    ul {
      padding: 0;
      list-style: none;
      margin: 0;

      a {
        color: #fff;

        &:hover{
          text-decoration: underline;
        }
      }
    }

    .lang_inner {
      margin: 0 0 25px;

      ul {
        display: flex;
        flex-wrap: wrap;

        li {
          +li {
            margin: 0 0 0 10px;
          }
        }
      }

      a {
        &.active {
          text-decoration: underline;
        }
      }
    }

    .menu_main_content {
      @media (max-width: $screen-xs-max) {
        padding: 0 0 0 60px;
      }
    }

    .menu {
      ul {
        li {
          +li {
            margin: 20px 0 0;
          }
        }
      }
    }

    .menu,
    .phones_wrapper {
      margin: 0 0 30px;
    }

    .menu_buttons {
      .btn {
        display: block;

        +.btn {
          margin: 30px 0 0;
        }
      }
    }
  }

  .logo_link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: #000000;
    line-height: 1;
    transition: all .2s linear;
    user-select: none;

    .logo {
      font-weight: 900;
      font-size: 30px;
      text-transform: uppercase;

      span {
        color: #f27e00;
      }
    }

    .sub_text {
      position: absolute;
      text-align: right;
      top: 100%;
      left: 0;
      right: 0;
      font-size: 18px;
    }
  }

  .contact_wrapper {
    a {
      font-size: 18px;
      color: #000000;
      font-weight: 600;
    }
  }

  .phone_wrapper {
    position: relative;
    padding: 0 30px 0 0;

    .btn_phone_toggle {
      right: 0;
      position: absolute;
      width: 30px;
      content: '';
      top: 1px;
      height: 23px;
      border: none;
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 2.35393L1.85021 0L7.5 4.25322L13.1498 0L15 2.35393L7.5 8L0 2.35393Z' fill='%23494949'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      transition: all .2s linear;
      cursor: pointer;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  .phone_list {
    position: absolute;
    display: none;
    top: 100%;
    left: -15px;
    right: 0;
    background-color: #494949;
    padding: 10px 10px;

    a {
      color: #fff;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .right_content {
    position: relative;

    .sticky_button {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      visibility: hidden;
      transition: all .2s linear;

      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }

  .right_content_inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: all .2s linear;

    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }

  .lang_wrapper {
    margin: 0 0 0 25px;

    @media (max-width: $screen-sm-max) {
      margin: 0 0 0 10px;
    }

    .selectric {
      border: none !important;
      background: transparent;

      .label {
        font-size: 18px;
        font-weight: 600;
        padding: 0;
        margin: 0 30px 0 0;
      }

      .button {
        background: transparent;
        width: 30px;
      }
    }

    .selectric-items {
      background-color: #494949;
      border: none;
      box-shadow: none;

      li {
        color: #fff;
        font-size: 16px;

        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

  .button_wrapper {
    margin: 0 0 0 30px;

    @media (max-width: $screen-sm-max) {
      margin: 0 0 0 10px;
    }

    .btn {
      min-width: 260px;
      border-width: 2px;

      +.btn {
        margin: 0 0 0 30px;
      }
    }

    .btn_marketing {
      @media (max-width: $screen-md-max) {
        display: none;
      }
    }
  }

  .mobile_wrap {
    display: none;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);

    @media (max-width: $screen-xs-max) {
      display: block;
    }

    .phone_list{
      min-width: 200px;
      top: 0;
      left: auto;
      right: 0;
      padding-top: 30px;
    }

    .close_list{
      position: absolute;
      top: 10px;
      right: 10px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.44443 0.144831C1.35165 0.0520471 1.22579 -5.41762e-05 1.09458 4.22738e-08C0.963362 5.43455e-05 0.837548 0.0522597 0.74484 0.14512L0.144542 0.746411C-0.0482935 0.939566 -0.0481642 1.25243 0.144831 1.44543L5.19968 6.50027L0.144816 11.5556C-0.048277 11.7487 -0.0482713 12.0618 0.144829 12.2549L0.745127 12.8552C0.938228 13.0483 1.25131 13.0483 1.44442 12.8552L6.49972 7.80032L11.5546 12.8552C11.7476 13.0482 12.0604 13.0483 12.2536 12.8555L12.8549 12.2551C12.9477 12.1624 12.9999 12.0366 13 11.9054C13.0001 11.7742 12.948 11.6483 12.8552 11.5556L7.79988 6.50027L12.8552 1.44544C12.9479 1.35271 13 1.22694 13 1.09579C13 0.964636 12.9479 0.838858 12.8552 0.746121L12.2539 0.14483C12.1611 0.0520942 12.0354 -2.95116e-06 11.9042 4.22738e-08C11.7731 3.06145e-06 11.6473 0.0521059 11.5546 0.144846L6.49972 5.20011L1.44443 0.144831Z' fill='white'/%3E%3C/svg%3E");
      width: 13px;
      height: 13px;
    }
  }

  .btn_phone {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.95991 2.18111C5.24589 2.37878 4.33812 3.09841 3.51285 4.01397C3.11717 4.45293 2.78068 4.89191 2.54029 5.24893C2.4198 5.42789 2.33004 5.5765 2.27089 5.68663C2.24501 5.73483 2.22974 5.76695 2.22156 5.78492C2.21503 5.8327 2.20327 5.93394 2.19492 6.09285C2.1834 6.3124 2.17974 6.6175 2.20065 6.99884C2.24245 7.76097 2.382 8.82076 2.74844 10.1045C3.47948 12.6656 5.12092 16.1443 8.73478 19.9453C12.345 23.7425 15.9904 25.754 18.8642 26.7907C20.3033 27.3099 21.5487 27.5845 22.4985 27.716C23.4789 27.8518 24.076 27.8259 24.2405 27.7969C24.3459 27.7784 24.5693 27.6921 24.9089 27.4601C25.2314 27.2397 25.5884 26.9365 25.9518 26.5813C26.682 25.8674 27.3567 25.0232 27.7421 24.4192C27.8238 24.2911 27.9216 23.9941 27.4423 23.2627C26.9789 22.5555 26.1515 21.7438 25.1074 20.9044C24.0721 20.0722 23.198 19.5305 22.5356 19.2784C22.2068 19.1533 21.9859 19.1214 21.8562 19.1251C21.796 19.1269 21.7651 19.136 21.7542 19.1399C21.7455 19.1431 21.7433 19.145 21.7404 19.1475C21.6482 19.2295 21.4881 19.4319 21.2441 19.8115C21.1075 20.0241 20.9887 20.2195 20.8608 20.4299C20.7496 20.6127 20.6316 20.8068 20.4892 21.0332C20.2189 21.4626 19.9068 21.9296 19.5641 22.3188C19.242 22.6846 18.7738 23.1223 18.1579 23.2882C17.5024 23.4646 16.8141 23.2738 16.2845 23.0608C15.7094 22.8295 15.0882 22.474 14.4657 22.0571C13.2157 21.2199 11.8318 20.0481 10.5933 18.8353C9.31833 17.5868 8.3614 16.3086 7.71171 15.2267C7.38708 14.6862 7.13315 14.1847 6.95384 13.7508C6.78634 13.3455 6.64612 12.9105 6.62459 12.531C6.60024 12.1021 6.77872 11.7562 6.9017 11.5599C7.03844 11.3416 7.21342 11.1419 7.38308 10.9699C7.72453 10.6238 8.16944 10.2657 8.60736 9.93662C9.05172 9.60271 9.5279 9.26998 9.94451 8.979C10.2321 8.7781 10.4834 8.60255 10.6876 8.45411C10.6584 8.25726 10.584 7.96974 10.4472 7.60191C10.137 6.76772 9.57999 5.71591 8.87905 4.75344M5.95991 2.18111C5.9814 2.18342 6.04585 2.19314 6.16435 2.24057C6.36618 2.32137 6.63341 2.47605 6.94978 2.71791C7.58015 3.1998 8.27974 3.93081 8.87905 4.75344M8.27962 0.98774C9.10832 1.62125 9.94985 2.51442 10.6475 3.47208C11.4548 4.58056 12.1111 5.80693 12.4967 6.84386C12.6872 7.35624 12.8309 7.8732 12.8741 8.33376C12.8957 8.56319 12.8973 8.82829 12.838 9.09285C12.7788 9.35696 12.6381 9.70523 12.3073 9.96661L12.3025 9.97036C12.0218 10.1897 11.6303 10.4631 11.2339 10.7399L11.1985 10.7646C10.7769 11.0591 10.3318 11.3703 9.92278 11.6777C9.50728 11.9899 9.16662 12.2704 8.94133 12.4988C8.90691 12.5337 8.878 12.5645 8.8539 12.5915C8.88154 12.6801 8.92104 12.7899 8.97483 12.9201C9.10587 13.2371 9.30779 13.6417 9.58702 14.1066C10.1451 15.0359 10.9879 16.1665 12.1247 17.2797C13.298 18.4286 14.5772 19.5058 15.6844 20.2473C16.2404 20.6197 16.7214 20.8859 17.1021 21.0391C17.4144 21.1647 17.5631 21.1748 17.596 21.1778C17.6289 21.1586 17.7382 21.0886 17.9216 20.8803C18.1435 20.6282 18.3798 20.2841 18.6378 19.8742C18.7336 19.7219 18.8467 19.5367 18.9628 19.3465C19.1157 19.0964 19.2736 18.8378 19.4038 18.6351C19.6444 18.2608 19.9452 17.8229 20.2865 17.5197C21.1942 16.7133 22.388 16.889 23.3148 17.2417C24.29 17.6127 25.3723 18.3173 26.4792 19.2072C27.5773 20.09 28.6189 21.0732 29.2721 22.0701C29.9094 23.0427 30.3716 24.3589 29.5862 25.5896C29.1045 26.3445 28.3219 27.3169 27.482 28.1381C27.0602 28.5505 26.6039 28.9445 26.1445 29.2584C25.7021 29.5607 25.1751 29.846 24.621 29.9436C24.1261 30.0309 23.266 30.0232 22.1979 29.8753C21.0993 29.7232 19.7053 29.4124 18.1206 28.8407C14.9466 27.6956 11.0069 25.5034 7.14857 21.4453C-0.56356 13.3338 -0.126398 6.29067 0.0897131 5.29245C0.141248 5.05441 0.255965 4.82122 0.343926 4.65743C0.446192 4.46699 0.576557 4.25493 0.725549 4.03365C1.02413 3.5902 1.42401 3.07045 1.88722 2.55656C2.76905 1.57826 4.05625 0.422565 5.4366 0.0640709C5.99917 -0.0826979 6.54964 0.0457393 6.97864 0.217477C7.42461 0.396009 7.86644 0.671877 8.27962 0.98774ZM8.74904 12.7265C8.74904 12.7265 8.75059 12.7229 8.75536 12.7153C8.7517 12.7226 8.74904 12.7265 8.74904 12.7265Z' fill='black'/%3E%3C/svg%3E");
  }
}


.menu_toggler {
  position: relative;
  border: none;
  padding: 0;
  top: 0;
  width: 30px;
  height: 30px;
  z-index: 1001;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  margin: 0 30px 0 0;

  @media (max-width: $screen-xs-max) {
    position: absolute;
    left: 0;
    margin: 0;
    top: 50%;
    margin-top: -15px;
  }

  span {
    display: block;
    width: 100%;
    height: 4px;
    padding: 0;
    background: #000;
    position: absolute;
    transition: transform 0.5s ease-in-out, top 0.25s ease-in-out 0.5s, opacity 0.25s ease-in-out 0.5s;
    transform-origin: center;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .toggler_top {
    top: 5px;
  }

  .toggler_middle {
    top: 13px;
  }

  .toggler_bottom {
    top: 21px;
  }

  &.menu-is-active span {
    transition: transform 0.5s ease-in-out 0.3s, top 0.25s ease-in-out, opacity 0.25s ease-in-out;
  }

  &.menu-is-active span.toggler_top {
    top: 13px;
    transform: rotate(135deg);
  }

  &.menu-is-active span.toggler_middle {
    opacity: 0;
    transform: rotate(135deg);
  }

  &.menu-is-active span.toggler_bottom {
    top: 13px;
    transform: rotate(225deg);
  }
}
