.pagination {
  font-size: 14px;
  padding: 15px 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    li {
      min-width: 50px;
      height: 35px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      border: 1px solid #929292;
      font-weight: 700;
      color: #000000;
      background-color: #ffffff;

      margin: 0 15px 0 0;

      &.active {
        color: #fff;
        background-color: #f27e00;
        border-color: #f27e00;
        font-weight: 700;
      }

      a {
        width: 100%;
        height: 100%;
        padding: 0 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        color: #000000;
        transition: all .2s linear;
        background-color: #ffffff;

        &:hover{
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          background-color: #f27e00;
          color: #fff;
        }
      }
    }
  }
}
