table{
  font-size: 16px;

  thead{
    th{
      background-color: #e8e8e8;
      font-weight: 700;
      text-decoration: underline;
      border: 1px solid #929292;
      padding: 20px 30px;
    }
  }

  tbody{
    tr{
      &:nth-child(2n){
        td{
          background-color: #e8e8e8;
        }
      }
    }
  }

  td{
    border: 1px solid #929292;
    padding: 20px 30px;
    background-color: #f7f7f7;
  }

  tr.checked{
    td{
      background-color: #f6e5d2!important;
    }
  }
}