.tabs {
  .container {
    position: relative;
  }
  &__item {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    top: 0;
    &.-active {
      overflow: visible;
      position: static;
    }
    &.-fade {
      opacity: 1;
      visibility: visible;
      transition: .3s;
    }
  }
}
