.mfp-bg {
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.b_modal {
  max-width: 750px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  background: #FFFFFF;
  box-shadow: none;

  @media (max-width: $screen-sm-max) {}

  .mfp-close {
    width: 35px;
    height: 35px;
    font-size: 35px;
    transition: all .2s linear;
    border-radius: 50%;
    background: none;
    color: #fff;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    right: 0;
    opacity: 1;
    display: none;
  }

  .modal_head {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 30px;
    border-bottom: 1px solid #929292;

    @media (max-width: $screen-xs-max) {
      padding: 25px 30px;
    }
  }

  .close_modal {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;

    @media (max-width: $screen-xs-max) {
      font-size: 0;
      width: 21px;
      height: 21px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.44443 0.144831C1.35165 0.0520484 1.2258 -5.28248e-05 1.09458 4.01915e-08C0.963369 5.29857e-05 0.837556 0.0522556 0.744848 0.145113L0.14455 0.74638C-0.0482931 0.939534 -0.0481672 1.25241 0.144831 1.44541L5.19968 6.50027L0.144817 11.5556C-0.0482778 11.7487 -0.0482714 12.0618 0.144831 12.2549L0.745129 12.8552C0.938231 13.0483 1.25131 13.0483 1.44442 12.8552L6.49972 7.80031L11.5546 12.8552C11.7476 13.0482 12.0604 13.0483 12.2536 12.8555L12.8549 12.2552C12.9477 12.1624 12.9999 12.0366 13 11.9054C13.0001 11.7742 12.948 11.6483 12.8552 11.5556L7.79988 6.50027L12.8552 1.44542C12.9479 1.35269 13 1.22691 13 1.09576C13 0.964606 12.9479 0.838826 12.8552 0.74609L12.2539 0.144823C12.1611 0.0520901 12.0354 -4.31113e-06 11.9042 4.01915e-08C11.7731 4.3836e-06 11.6473 0.0521071 11.5546 0.144846L6.49972 5.20012L1.44443 0.144831Z' fill='black'/%3E%3C/svg%3E");
    }

    &:hover{
      text-decoration: none;
    }
  }

  .modal_title {
    font-size: 24px;
    font-weight: 500;

  }

  .form_row {
    +.form_row {
      margin: 15px 0 0;
    }
  }

  .form_btn {
    padding: 25px 0 0 0;
    text-align: center;

    .btn {
      padding: 19px 15px;
    }
  }

  .filter_full {
    padding: 20px 30px;
    border-bottom: 1px solid #929292;

    .service_title {
      font-weight: 700;
    }
  }

  .filter_category {
    margin: 0 0 20px;

    .service_title {
      font-weight: 700;
    }
  }

  .filter_category_row {
    +.filter_category_row {
      margin: 15px 0 0;
    }
  }

  .filter_custom {
    font-size: 16px;
    overflow: auto;
    max-height: 400px;

    @media (max-width: $screen-xs-max) {
      max-height: 460px;
    }
  }

  .filter_custom_row {
    display: flex;
    flex-wrap: wrap;

    +.filter_custom_row {
      border-top: 1px solid #929292;
    }
  }

  .filter_custom_column {
    width: 50%;
    padding: 20px 30px;

    @media (max-width: $screen-xs-max) {
      width: 100%;
    }

    +.filter_custom_column {
      border-left: 1px solid #929292;

      @media (max-width: $screen-xs-max) {
        border-left: none;
        border-top: 1px solid #929292;
      }
    }
  }


  .modal_foot {
    border-top: 1px solid #929292;
    padding: 30px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    @media (max-width: $screen-xs-max) {
      display: block;
      text-align: left;
    }

    .btn {
      margin: 0 0 0 30px;
      min-width: 260px;

      @media (max-width: $screen-xs-max) {
        display: block;
        margin: 30px auto 0;
        max-width: 390px;
      }
    }

    .link {
      color: #000000;
      text-decoration: underline;

      &:hover{
        text-decoration: none;
      }
    }
  }

  .mCSB_inside>.mCSB_container {
    margin: 0 6px 0 0;
  }

  .mCSB_scrollTools {
    width: 6px;
  }

  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
  .mCSB_scrollTools .mCSB_draggerRail {
    width: 6px;
    margin: 0;
  }
}
