.b_modal.mfp-hide.zoom-anim-dialog#table_setting
  .modal_head
    .modal_title Каталог площадок
    a.close_modal.jsCloseModal(href="#") Закрыть
  
  .filter_wrapper
    .filter_full
      label.checkbox
        input#all_parameters(type="checkbox", name="")
        span.service_title Вывести все параметры
    
    
    .filter_custom.jsCustomScrollbarY
    
      .filter_custom_row

        .filter_custom_column
          .filter_category
            label.checkbox
              input.jsCheckboxCategory(type="checkbox", name="")
              span.service_title Основные параметры
          .filter_category_wrapper
            .filter_category_row
              label.checkbox
                input(type="checkbox", name="")
                span.service_title Тематика
            .filter_category_row
              label.checkbox
                input(type="checkbox", name="")
                span.service_title Посещаемость
            .filter_category_row
              label.checkbox
                input(type="checkbox", name="")
                span.service_title Регион
            .filter_category_row
              label.checkbox
                input.table_column(type="checkbox", name="" data-filter="placement_price")
                span.service_title Цена размещения
            .filter_category_row
              label.checkbox
                input.table_column(type="checkbox", name="" data-filter="writing_price")
                span.service_title Цена написания
        
        .filter_custom_column
          .filter_category
            label.checkbox
              input.jsCheckboxCategory(type="checkbox", name="")
              span.service_title Технические параметры
          .filter_category_wrapper
            .filter_category_row
              label.checkbox
                input(type="checkbox", name="")
                span.service_title Траст
            .filter_category_row
              label.checkbox
                input(type="checkbox", name="")
                span.service_title Спам
            .filter_category_row
              label.checkbox
                input(type="checkbox", name="")
                span.service_title TF
            .filter_category_row
              label.checkbox
                input(type="checkbox", name="")
                span.service_title SF
            .filter_category_row
              label.checkbox
                input(type="checkbox", name="")
                span.service_title ИКС

      .filter_custom_row

        .filter_custom_column
          .filter_category
            label.checkbox
              input.jsCheckboxCategory(type="checkbox", name="")
              span.service_title Индексации параметры
          .filter_category_wrapper
            .filter_category_row
              label.checkbox
                input(type="checkbox", name="")
                span.service_title Индекс Google
            .filter_category_row
              label.checkbox
                input(type="checkbox", name="")
                span.service_title Индекс Yandex
        
        .filter_custom_column
          .filter_category
            label.checkbox
              input.jsCheckboxCategory(type="checkbox", name="")
              span.service_title Сайта параметры
          .filter_category_wrapper
            .filter_category_row
              label.checkbox
                input(type="checkbox", name="")
                span.service_title Возраст сайта
            .filter_category_row
              label.checkbox
                input(type="checkbox", name="")
                span.service_title Доменна зона




  .modal_foot
    a.link(href="#") По умолчанию
    a.btn.btn_blue.jsSaveTableFilter(href="#") Сохранить
    




