footer.b_footer
  .container

    .footer_top
      .footer_wrapper

        .footer_item
          .menu_title О нас
          .menu_wrapper
            ul
              li
                a(href="#") Для прессы
              li
                a(href="#") Аффилиатам
              li
                a(href="#") Изданиям

        .footer_item
          .menu_title Вопросы и ответы
          .menu_wrapper
            ul
              li
                a(href="#") Пресс-центры
              li
                a(href="#") Пример пресс-релиза
        
        .footer_item
          .menu_title Правовая база
          .menu_wrapper
            ul
              li
                a(href="#") Правила сайта
              li
                a(href="#") Конфиденциальность
              li
                a(href="#") Политика возврата
        
        .footer_item
          .menu_title Контакты
          .menu_wrapper
            ul
              li
                a(href="tel:0441059169") (044) 105-91-69
              li
                a(href="mailto:newsinks@gmail.com") newsinks@gmail.com

    
    .footer_bottom
      .copy 2019 &copy; NEWSLINKS. Все права защищены.

      .development_by
        a(href="#") Разработка сайта - EDGElab