header.b_header
  .header
    
    .container

      .header_wrapper

        .left_content
          .left_content_inner
            button.menu_toggler.jsMenu
              span.toggler_top
              span.toggler_middle
              span.toggler_bottom
            
            a.logo_link(href="#")
              .logo <span>N</span>EWS<span>l</span>inks
              .sub_text ППН Украина
            
            .mobile_wrap
              a.btn_phone(href="javascript:;")
              .phone_list
                .close_list
                .list_item
                  a(href="#") 044 593 33 22
                .list_item
                  a(href="#") 044 593 33 22

          .header_menu
            .menu_inner
              .menu_main_content
                .lang_inner
                  ul
                    li
                      a.active(href="#") RU
                    li
                      a(href="#") UA
                .menu
                  ul
                    li
                      a(href="#") Каталог
                    li
                      a(href="#") Корзина
                    li
                      a(href="#") Пресса
                    li
                      a(href="#") О компании
                    li
                      a(href="#") Партнерство
                    li
                      a(href="#") Гарантии и оплата
                .phones_wrapper
                  ul
                    li
                      a(href="tel:0445933322") 044 593 33 22
                    li
                      a(href="tel:0445933322") 044 593 33 22
              .menu_buttons
                a.btn.btn_white(href="#") Услуги маркетинга
                a.btn.btn_white(href="#") Запросить предложение


        .right_content
          .sticky_button
            a.btn.btn_orange_empty.btn_offer(href="#") Запросить предложение

          .right_content_inner

            .contact_wrapper
              .phone_wrapper
                a(href="#") 044 593 33 22
                .btn_phone_toggle
                .phone_list
                  .list_item
                    a(href="#") 044 593 33 22
                  .list_item
                    a(href="#") 044 593 33 22
            
            .lang_wrapper
              select.jsSelectricView
                option(value="#") RU
                option(value="#") EN

            .button_wrapper
              a.btn.btn_orange_empty.btn_offer(href="#") Запросить предложение
              a.btn.btn_black_empty.btn_marketing(href="#") Услуги маркетинга






        