extends layouts/default

block content
  main
    
    .b_breadcrumbs
      .container
        .breadcrumbs_wrapper
          ul
            li
              a(href="#") Главная
            li
              a(href="#") Каталог
            li Корзина


    .b_basket
      .container

        .page_title Корзина

        .basket_wrapper

          .basket_row
            .basket_row_inner
              .row_wrapper
                .row_content
                  .product_title Статья на Korrespondent.net
                .row_price
                  .product_price 5 600 грн.
              
              .row_wrapper
                .row_content
                  label.checkbox
                    input(type="checkbox", name="")
                    span.service_title Написание статьи
                .row_price
                  .price 500 грн.
              
              .row_wrapper
                .row_content
                  label.checkbox
                    input(type="checkbox", name="")
                    span.service_title Перевод на английский язык
                .row_price
                  .price 1000 грн.
              
              .row_wrapper
                .row_content
                  label.checkbox
                    input(type="checkbox", name="")
                    span.service_title Анонс на главной странице
                .row_price
                  .price 800 грн.
              
              .row_wrapper
                .row_content
                  label.checkbox
                    input(type="checkbox", name="")
                    span.service_title Открытая ссылка
                .row_price
                  .price 500 грн.
            .row_button
              a.btn_remove_product(href="#")


          .basket_row
            .basket_row_inner
              .row_wrapper
                .row_content
                  .product_title Статья на Korrespondent.net
                .row_price
                  .product_price 5 600 грн.
              
              .row_wrapper
                .row_content
                  label.checkbox
                    input(type="checkbox", name="")
                    span.service_title Написание статьи
                .row_price
                  .price 500 грн.
              
              .row_wrapper
                .row_content
                  label.checkbox
                    input(type="checkbox", name="")
                    span.service_title Перевод на английский язык
                .row_price
                  .price 1000 грн.
              
              .row_wrapper
                .row_content
                  label.checkbox
                    input(type="checkbox", name="")
                    span.service_title Анонс на главной странице
                .row_price
                  .price 800 грн.
              
              .row_wrapper
                .row_content
                  label.checkbox
                    input(type="checkbox", name="")
                    span.service_title Открытая ссылка
                .row_price
                  .price 500 грн.
            .row_button
              a.btn_remove_product(href="#")


          .basket_row.row_result
            .basket_row_inner
              .row_wrapper
                .row_content  
                  .form_row
                    label
                      span.label_title Номер мобильного телефона
                      input.form_control.valid(type="tel" value="044 593 33 22")
                  .form_row
                    label
                      span.label_title Имя
                      input.form_control.error(type="text")
                  .form_row
                    label
                      span.label_title Электронная почта
                      input.form_control(type="email")
            .row_button
              .row_price
                .price_summ
                  span.price_laber Всего:  
                  span.summ 15 600 грн.
              .row_button_inner
                input.btn.btn_orange(type="submit", value="Завершить заказ")
                .link_wrapper
                  a(href="#") Вернуться в каталог






