extends layouts/default

block content
  main
    .b_breadcrumbs
      .container
        .breadcrumbs_wrapper
          ul
            li
              a(href="#") Главная
            li Список сравнения


    .b_table_result
      .mobile_wrapper
        .container
          a.btn.btn_orange_empty.btn_offer(href="#") Запросить предложение

      .page_title_wrapper
        .container

          .title_wrapper
            .page_title Список сравнения

            .buttons_list_basket
              a.btn_list(href="#")
              a.btn_basket(href="#")
                .quantity_counter
                  .counter_wrapper 25

      
      .container

        .table_wrapper

          .table_control_top

            .control_bottom_wrapper
              .control_item
                span Найдено площадок: 
                span
                  strong 1600

              .control_item
                .number_lines
                  .lines_label Выводить по: 
                  .selectric_wrapper
                    select.jsSelectricView
                      option(value="") 10
                      option(value="") 20
                      option(value="") 30
              .control_item
                a(href="#") Скачать таблицу (xls)
              .control_item
                a.jsOpenModals(href="#table_setting") Настройка таблицы
            

            .filter_container
              .filter_container_wrapper
                a.btn_close_filter.jsCloseFilter(href="#") Закрыть

                .container_wrapper
                  .filter_list
                    
                    .filter_row
                      .filter_title Тематика
                      .filter_content
                        select.jsSelectricView
                          option(value="") Выберите из списка
                          option(value="") Выберите из списка
                          option(value="") Выберите из списка
                    
                    .filter_row
                      .filter_title Посещаемость
                      .filter_content
                        select.jsSelectricView
                          option(value="") Выберите из списка
                          option(value="") Выберите из списка
                          option(value="") Выберите из списка
                    
                    .filter_row
                      .filter_title Регион
                      .filter_content
                        select.jsSelectricView
                          option(value="") Выберите из списка
                          option(value="") Выберите из списка
                          option(value="") Выберите из списка
                    
                    .filter_row
                      .filter_title Цена размещения
                      .filter_content
                        .column_wrapper
                          .content_column
                            input.form_control(type="text" placeholder="от, грн")
                          .content_column
                            input.form_control(type="text" placeholder="до, грн")
                    
                    .filter_row
                      .filter_title Цена написания
                      .filter_content
                        .column_wrapper
                          .content_column
                            input.form_control(type="text" placeholder="от, грн")
                          .content_column
                            input.form_control(type="text" placeholder="до, грн")

                  .filter_buttons
                    .button_item
                      a.link(href="#") Показать полный набор фильтров
                    .button_item
                      a.link(href="#") Сбросить
                    .button_item
                      a.btn.btn_blue.btn_show_result(href="#") Показать 535 шт 


            .selected_control
              .selected_info
                strong Вы выбрали: 1 площадку
              .added_block
                label.checkbox
                  input(type="checkbox", name="" checked)
                  span.service_title Добавить написание статьи
              .selected_result
                span Итого:
                span
                  strong 1 600
                span
                  strong грн.

              .button_wrapper
                a.btn.btn_gray.btn-list-two(href="#") Удалить из списка
                a.btn.btn_orange.btn-basket(href="#") В корзину

          
          .tabel_wrapper
            table#table
              thead
                tr
                  th
                    label.checkbox_no_label
                      input(type="checkbox", name="")
                      span
                    
                    a(href="#") URL площадки
                  th(data-column="placement_price")
                    a(href="#") Цена<br> размещения
                  th(data-column="writing_price")
                    a(href="#") Цена<br> написания
                  th
                    a(href="#") Регион
                  th
                    a(href="#") Посещаемость
                  th
                    a(href="#") Тематика
                  th
                    a(href="#") Траст
                  th
                    a(href="#") Траст
            
                tbody
                  tr
                    td
                      label.checkbox
                        input(type="checkbox", name="")
                        span.service_title korrespondent.netfasgsdfasdf asdf s
                    td(data-column="placement_price") 100 000 грн.
                    td(data-column="writing_price") 100 грн.
                    td Ивано-Франковск
                    td 1 мил.
                    td Финансы
                    td 89
                    td 89
                  tr
                    td
                      label.checkbox
                        input(type="checkbox", name="")
                        span.service_title korrespondent.net
                    td(data-column="placement_price") 100 000 грн.
                    td(data-column="writing_price") 100 грн.
                    td Киев
                    td 100 тыс.
                    td Финансы и кредит
                    td 89
                    td 89
                  tr
                    td
                      label.checkbox
                        input(type="checkbox", name="")
                        span.service_title korrespondent.net
                    td(data-column="placement_price") 100 000 грн.
                    td(data-column="writing_price") 100 грн.
                    td Ивано-Франковск
                    td 1 мил.
                    td Финансы и кредит
                    td 89
                    td 89
                  tr
                    td
                      label.checkbox
                        input(type="checkbox", name="")
                        span.service_title korrespondent.net
                    td(data-column="placement_price") 100 000 грн.
                    td(data-column="writing_price") 100 грн.
                    td Киев
                    td 1 мил.
                    td Финансы
                    td 89
                    td 89
                  tr
                    td
                      label.checkbox
                        input(type="checkbox", name="")
                        span.service_title korrespondent.net
                    td(data-column="placement_price") 100 000 грн.
                    td(data-column="writing_price") 100 грн.
                    td Ивано-Франковск
                    td 100 тыс.
                    td Финансы и кредит
                    td 89
                    td 89
                  tr
                    td
                      label.checkbox
                        input(type="checkbox", name="")
                        span.service_title korrespondent.net
                    td(data-column="placement_price") 100 000 грн.
                    td(data-column="writing_price") 100 грн.
                    td Ивано-Франковск
                    td 100 тыс.
                    td Финансы и кредит
                    td 89
                    td 89
                  tr
                    td
                      label.checkbox
                        input(type="checkbox", name="")
                        span.service_title korrespondent.net
                    td(data-column="placement_price") 100 000 грн.
                    td(data-column="writing_price") 100 грн.
                    td Ивано-Франковск
                    td 100 тыс.
                    td Финансы и кредит
                    td 89
                    td 89
                  tr
                    td
                      label.checkbox
                        input(type="checkbox", name="")
                        span.service_title korrespondent.net
                    td(data-column="placement_price") 100 000 грн.
                    td(data-column="writing_price") 100 грн.
                    td Ивано-Франковск
                    td 100 тыс.
                    td Финансы и кредит
                    td 89
                    td 89
                  tr
                    td
                      label.checkbox
                        input(type="checkbox", name="")
                        span.service_title korrespondent.net
                    td(data-column="placement_price") 100 000 грн.
                    td(data-column="writing_price") 100 грн.
                    td Ивано-Франковск
                    td 100 тыс.
                    td Финансы и кредит
                    td 89
                    td 89
                  tr
                    td
                      label.checkbox
                        input(type="checkbox", name="")
                        span.service_title korrespondent.net
                    td(data-column="placement_price") 100 000 грн.
                    td(data-column="writing_price") 100 грн.
                    td Ивано-Франковск
                    td 100 тыс.
                    td Финансы и кредит
                    td 89
                    td 89
                  tr
                    td
                      label.checkbox
                        input(type="checkbox", name="")
                        span.service_title korrespondent.net
                    td(data-column="placement_price") 100 000 грн.
                    td(data-column="writing_price") 100 грн.
                    td Ивано-Франковск
                    td 100 тыс.
                    td Финансы и кредит
                    td 89
                    td 89
                  tr
                    td
                      label.checkbox
                        input(type="checkbox", name="")
                        span.service_title korrespondent.net
                    td(data-column="placement_price") 100 000 грн.
                    td(data-column="writing_price") 100 грн.
                    td Ивано-Франковск
                    td 100 тыс.
                    td Финансы и кредит
                    td 89
                    td 89
          
          
          .table_control_bottom

            .control_bottom_wrapper
              .control_item.platform
                span Найдено площадок: 
                span
                  strong 1600
              .control_item
                .number_lines
                  .lines_label Выводить по: 
                  .selectric_wrapper
                    select.jsSelectricView
                      option(value="") 10
                      option(value="") 20
                      option(value="") 30
              .control_item
                a(href="#") Скачать таблицу (xls)
              .control_item
                a.jsOpenModals(href="#table_setting") Настройка таблицы
            
            .data_pagination
              .pagination
                ul
                  li.active 1
                  li
                    a(href="#") 2
                  li
                    a(href="#") 3
                  li
                    a(href="#") 4
                  li
                    a(href="#") 5
                  li
                    a(href="#") 6
                  li ...
                  li
                    a(href="#") 34
                  li
                    a(href="#") След >





