extends layouts/default

block content
  main

    .b_breadcrumbs
      .container
        .breadcrumbs_wrapper
          ul
            li
              a(href="#") Главная
            li Контакты


    .b_contacts

      .page_title_wrapper
        .container
          .page_title Контакты
      
      .container
        .contacts_content

          .contacts_row
            h3 Офис в Киеве
            p Мы работаем по будням, с 9:00 до 19:30
            p Киев, Оболонская 29, корп. 2, оф. 53, <a href="tel:0503335566">050 333-55-66</a>

          .contacts_row
            h3 Email
            a(href="mailto:sales@gmail.com") sales@gmail.com

          .contacts_row
            h3 Cоциальные сети
            ul
              li
                a(href="#" target="_blank") Facebook
              li
                a(href="#" target="_blank") Linkedin


    .b_offer
      .container

        .offer_form
          .form_title Запросить предложение
          
          .column_wrapper
            
            .offer_column
              form
                .form_wrapper

                  .form_row
                    label
                      span.label_title Номер мобильного телефона*
                      input.form_control(type="tel")

                  .form_row
                    label
                      span.label_title Имя
                      input.form_control(type="text")

                  .form_row
                    label
                      span.label_title Электронная почта
                      input.form_control(type="email")

                  .form_row
                    label
                      span.label_title Комментарий
                      input.form_control(type="text")
                  
                  .form_btn
                    input.btn.btn_orange(type="submit", value="Отправить заявку")
                
              

            .offer_column
              .form_info
                .img_wrapper
                  img(src="images/img_offer.png", alt="")

                .info_list
                  ul
                    li Подготовим оптимальное решение.
                    li Обеспечим эффективную коммуникацию.
                    li Подберем качественных доноров.





