doctype html
html.no-js(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')

    title NEWSLINKS

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body
    style.
      body {
        padding: 2% 10px;
      }
      .b_index {
        min-height: 100%;
        max-width: 700px;
        margin: 0 auto;
        padding: 2% 15px 30px;
        background-image: url(images/logo.png);
        background-position: center top 25px;
        background-repeat: no-repeat;
      }
      ol {
        padding-top: 50px;
        margin: 0;
        padding-left: 0;
        color: #dd1d24;
        list-style-position: inside;
      }
      li {
        margin-bottom: 7px;
      }
      a {
        font-size: 18px;
        color: #dd1d24;
        border-bottom: 1px dashed transparent;
        line-height: 1;
        transition: .2s;
      }
      a:hover {
        border-color: #dd1d24;
      }
    .b_index
      ol
        li
          a(href="main.html") Главная страница
        li
          a(href="offer.html") Запросить предложение
        li
          a(href="contacts.html") Контакты
        li
          a(href="basket.html") Корзина
        li
          a(href="single_page.html") Текстовая страница
        li
          a(href="marketing_services.html") Услуги маркетинга
        li
          a(href="page404.html") 404
        li
          a(href="site_catalog.html") Каталог площадок
        li
          a(href="comparison_list.html") Список сравнения
        li
          a(href="product.html") Товар