extends layouts/default

block content
  main
    
    .b_main_block.section
      .container

        h1.section_title Платформа комплексного размещения PR-материалов и ссылок

        .btn_wrapper
          a.btn.btn_blue.btn_platform(href="#") Выбрать площадки
          a.btn.btn_orange.btn_offer(href="#") Запросить предложение

        .bloco_info
          p Размещение в областных, городских и районных СМИ.
          p 2 000 посещаемых ресурсов Украины.
        
        .block_logotypes
          img(src="images/segodnay.png", alt="")
          img(src="images/unian-logo.png", alt="")
          img(src="images/novoye_vremya.png", alt="")
          img(src="images/Liga-net.png", alt="")

        .image_wrapper
          img(src="images/notebook.png", alt="")


    .b_service_info.section
      .container

        .section_title NewsLinks - сервис для ускорения роста ваших продаж, сервиса, продукта

        .service_wrapper

          .service_item
            .img_wrapper
              img(src="images/service_img01.svg", alt="")
            .service_title Для SEO-агенств
            .service_list
              ul
                li Региональный таргетинг
                li Посещаемые ресурсы
                li Трастовые доноры
                li Пакетное размещение

          .service_item
            .img_wrapper
              img(src="images/service_img02.svg", alt="")
            .service_title Для MEDIA-агенств
            .service_list
              ul
                li Размещение по всем областям
                li Прямая работа с изданием
                li Пакетное размещение
                li Индивидуальное предложение


    .b_trust_us.section
      .container

        .section_title Нам доверяют и используют наши решения

        .trust_numbers
          
          .numbers_item
            .number 2 000
            .number_title ресурсов
          
          .numbers_item
            .number 1 000
            .number_title клиентов
          
          .numbers_item
            .number 27
            .number_title областей
          
          .numbers_item
            .number 20
            .number_title лет опыта


    .b_order_info.section
      .container

        .section_title Заказывайте быстрое статейное размещение в несколько кликов

        .order_info_wrapper
          
          .order_info.info_left
            .order_icon 1
            .order_title Выберите площадку или отправьте заявку
          
          .order_info.info_center
            .order_icon 2
            .order_title Получите подтверждение и сделайте оплату
          
          .order_info.info_right
            .order_icon 3
            .order_title Проверьте и одобрите размещение
        
        .order_button
          a.btn.btn_blue.btn_platform(href="#") Выбрать площадки
          a.btn.btn_orange.btn_offer(href="#") Запросить предложение


    .b_reviews.section
      .container

        .section_title Отзывы и рекомендации наших клиентов

        .reviews_wrapper.custom_slider.jsReviewsSlider
          .review_item.blue_item.lg_item
            .image_wrapper
              img(src="images/man.png", alt="")
            .contact_wrapper
              .review_tile PR Management
              .review_text У создателей получился действительно нтересный инструмент, который явно достоин внимания не только SEO-специалистов, но и контент-маркетологов 
              .content_bottom
                .name George Metrick, EDGElab
          
          .review_item.orange_item.xs_item
            .contact_wrapper
              .review_tile PR Management  
              .review_text Инструменту добен как для частных SEO- оптимизаторов так и для крупных SEO-компаний.
              .content_bottom
                .logo
                  img(src="images/upwork.png", alt="")
                .name Maxi Streng, UpWork
          
          .review_item.blue_item.xs_item
            .contact_wrapper  
              .review_tile PR Management
              .review_text Инструмент удобен как для частных SEO- оптимизаторов так и для крупных SEO-компаний.
              .content_bottom
                .logo
                  img(src="images/upwork.png", alt="")
                .name Maxi Streng, UpWork
          
          .review_item.orange_item.lg_item.img_right
            .image_wrapper
              img(src="images/man.png", alt="")
            .contact_wrapper
              .review_tile PR Management
              .review_text У создателей получился действительно нтересный инструмент, который явно достоин внимания не только SEO-специалистов, но и контент-маркетологов
              .content_bottom
                .name George Metrick, EDGElab
          


    .b_customers.section
      .container

        .section_title Более 1 000 клиентов стали расти быстрее, когда начали использовать NewsLinks 

        .customers_wrapper
          img(src="images/segodnay.png", alt="")
          img(src="images/unian-logo.png", alt="")
          img(src="images/novoye_vremya.png", alt="")
          img(src="images/Liga-net.png", alt="")
          img(src="images/unian-logo.png", alt="")
          img(src="images/segodnay.png", alt="")
          img(src="images/novoye_vremya.png", alt="")
          img(src="images/segodnay.png", alt="")
          img(src="images/unian-logo.png", alt="")
          img(src="images/segodnay.png", alt="")
          img(src="images/Liga-net.png", alt="")
          img(src="images/unian-logo.png", alt="")


    .b_choose.section
      .container

        .section_title Почему выбирают NewsLinks размещая PR и ссылки

        .choose_wrapper
          p Идеальный инструмент для распространения PR-контента в нужное время. Контролируйте присутствие и определяйте идеальные моменты для публикации PR-материалов и распространения. Дружественный интерфейс поможет добавить пресс-релиз, загрузить и прикрепить видео и распространить пресс-релиз в интернете. Больше никакой рутины по электронной почте. Всё в одном удобном Пресс-Центре.
        
        a(href="#") Читать подробнее
          








