extends layouts/default

block content
  main
  
    .b_marketing_services.section
      .container

        .marketing_content
          h1.section_title Находим решения для интернет бизнеса

          a.btn.btn_orange.btn_application(href="#") Оставить заявку

          .single_text
            p Создаем нашим клиентам рекламные стратегии для достижения целей их бизнеса
        
        .customers
          .customers_item
            img(src="images/customer01.png", alt="")
          .customers_item
            img(src="images/customer02.png", alt="")
          .customers_item
            img(src="images/customer03.png", alt="")
          .customers_item
            img(src="images/customer04.png", alt="")
          .customers_item
            img(src="images/customer05.png", alt="")
          .customers_item
            img(src="images/customer06.png", alt="")
          .customers_item
            img(src="images/customer07.png", alt="")
          .customers_item
            img(src="images/customer08.png", alt="")
    

    .b_our_services.section
      .container

        .section_title Наши услуги

        .services_wrapper

          .service_item
            .service_title Исследования целевой аудитории
            .service_info
              .service_content
                ul
                  li Портрет пользователя/клиента
                  li Исследования отрасли
                  li Создание брендбука
              .service_image
                img(src="images/service_image_01.png", alt="")

          .service_item
            .service_title Основные каналы продаж
            .service_info
              .service_content
                ul
                  li SEO
                  li Контекстная реклама
                  li SMM
              .service_image
                img(src="images/service_image_02.png", alt="")

          .service_item
            .service_title Удержание клиентов повышение лояльности
            .service_info
              .service_content
                ul
                  li Usability-аудит
                  li SERM
                  li Контент-менеджмент
              .service_image
                img(src="images/service_image_03.png", alt="")

          .service_item
            .service_title Возврат посетителей и upsale
            .service_info
              .service_content
                ul
                  li Ремаркетинг
                  li E-mail маркетинг
                  li SMS маркетинг
              .service_image
                img(src="images/service_image_04.png", alt="")

          .service_item
            .service_title Дизайн
            .service_info
              .service_content
                ul
                  li Проектирование интерфейсов
                  li Прототипирование
                  li Usability-исследования
              .service_image
                img(src="images/service_image_05.png", alt="")
        
        .btn_wrapper
          a.btn.btn_orange(href="#") Оставить заявку

    .b_our_achievements.section
      .container

        .section_title Наши достижения

        .achievements_wrapper

          .achievement_item
            .achievement_title Увеличили ROMI
            .achievement_image
              img(src="images/customer01.png", alt="")
            .achievement_info до 1 500 % 

          .achievement_item
            .achievement_title Продали
            .achievement_image
              img(src="images/customer02.png", alt="")
            .achievement_info 4 000 серверов

          .achievement_item
            .achievement_title Увеличили ROMI
            .achievement_image
              img(src="images/customer06.png", alt="")
            .achievement_info до 300 %

          .achievement_item
            .achievement_title Разработали
            .achievement_image
              img(src="images/customer04.png", alt="")
            .achievement_info План развития

    

    .b_certificates.section
      .container

        .section_title Наши сертификаты

        .certificates_wrapper.row.custom_slider.jsCertificates
          .certificate_item.col-sm-6
            img(src="images/certificate01.png", alt="")
          .certificate_item.col-sm-3
            img(src="images/certificate02.png", alt="")
          .certificate_item.col-sm-3
            img(src="images/certificate03.png", alt="")


        .btn_wrapper
          a.btn.btn_orange(href="#") Оставить заявку





