extends layouts/default

block content
  main

    .b_breadcrumbs
      .container
        .breadcrumbs_wrapper
          ul
            li
              a(href="#") Главная
            li Запросить предложение

    .b_offer
      .container

        .offer_form
          .form_title Запросить предложение
          
          .column_wrapper
            
            .offer_column
              form
                .form_wrapper

                  .form_row
                    label
                      span.label_title Номер мобильного телефона*
                      input.form_control(type="tel")

                  .form_row
                    label
                      span.label_title Имя
                      input.form_control(type="text")

                  .form_row
                    label
                      span.label_title Электронная почта
                      input.form_control(type="email")

                  .form_row
                    label
                      span.label_title Комментарий
                      input.form_control(type="text")
                  
                  .form_btn
                    input.btn.btn_orange(type="submit", value="Отправить заявку")
                
              

            .offer_column
              .form_info
                .img_wrapper
                  img(src="images/img_offer.png", alt="")

                .info_list
                  ul
                    li Подготовим оптимальное решение.
                    li Обеспечим эффективную коммуникацию.
                    li Подберем качественных доноров.





