extends layouts/default

block content
  main

    .b_page404
      .container

        .page404_wrapper

          .page404_image
            img(src="images/page404_image.png", alt="")
          
          .page404_content
            .content_inner
              h1 Ошибка 404

              p Неправильно набран адрес, или такой страницы больше не существует.

              a(href="main.html") Перейдите на главную страницу





