extends layouts/default_inner

block content
  main
    .b_breadcrumbs
      .container
        .breadcrumbs_wrapper
          ul
            li
              a(href="#") Главная
            li
              a(href="#") Каталог
            li Korrespondent.net


    .b_product
      
      .mobile_wrapper
        .container
          a.btn.btn_orange_empty.btn_offer(href="#") Запросить предложение

      .page_title_wrapper
        .container

          .title_wrapper
            .page_title
              .page_title_inner
                .product
                  .product_title Korrespondent.net
                  a.product_link(href="https://korrespondent.net/" target="_blank")
                .category.gray Новость

            .buttons_list_basket
              a.btn_list(href="#")
              a.btn_basket(href="#")
                .quantity_counter
                  .counter_wrapper 25

      
      
      .container

        .product_wrapper

          .wrapper_row

            .product_info_wrapper
              .product_image
                .image_wrapper(style="background-image: url('images/product_image.jpg');")


              .product_info.info_list
                .info_list_head Основные параметры
                .info_list_body
                  .info_list_row
                    .info_list_title
                      .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") Тематика
                    .info_list_description Политика, СМИ, Бизнес
                  .info_list_row
                    .info_list_title
                      .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") Регион
                    .info_list_description Украина
                  .info_list_row
                    .info_list_title
                      .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") Посещаемость
                    .info_list_description Больше 100 000 тыс.
                  .info_list_row
                    .info_list_title
                      .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") Тип площадки
                    .info_list_description Портал, СМИ обо всем
                  .info_list_row
                    .info_list_title
                      .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") Язык
                    .info_list_description Русский и украинский


          .wrapper_row

            .prices_wrapper.info_list
              .info_list_head Цены и услуги
              .price_list
                .list_body_wrapper
                  .info_list_column
                    .info_list_body
                      .info_list_row
                        .info_list_title
                          label.checkbox_no_label
                            input(type="checkbox", name="" checked)
                            span
                          .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") Цена размещения
                        .info_list_description 5 600 грн.
                      .info_list_row
                        .info_list_title
                          label.checkbox_no_label
                            input(type="checkbox", name="")
                            span
                          .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") Написание статьи
                        .info_list_description 500 грн.
                      .info_list_row
                        .info_list_title
                          label.checkbox_no_label
                            input(type="checkbox", name="")
                            span
                          .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") Перевод на английский язык
                        .info_list_description 1 000 грн.
                      .info_list_row
                        .info_list_title
                          label.checkbox_no_label
                            input(type="checkbox", name="")
                            span
                          .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") Анонс на главной странице
                        .info_list_description 800 грн.
                      .info_list_row
                        .info_list_title
                          label.checkbox_no_label
                            input(type="checkbox", name="")
                            span
                          .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") Открытая ссылка
                        .info_list_description 500 грн.
                      .info_list_row
                        .info_list_title
                          label.checkbox_no_label
                            input(type="checkbox", name="")
                            span
                          .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") Закрепление в шапке
                        .info_list_description 5 000 грн.
                  .info_list_column
                    .price_total
                      .price_total_inner
                        .category_select
                          select.jsSelectricView
                            option(value="") Новость
                            option(value="") Новость2
                            option(value="") Новость3
                        .total_wrapper
                          span Итого: 
                          span.total_price 5 600 
                          span грн.
                        .price_buttons
                          a.btn.btn_orange.btn_add_basket(href="#") В корзину
                          a.btn.btn_gray.btn_add_list(href="#") В список



          .wrapper_row
            
            .terms_wrapper.info_list
              .info_list_head Условия размещения
              .list_body_wrapper
                .info_list_column
                  .info_list_body
                    .info_list_row
                      .info_list_title
                        .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") Закрытые сслыки
                      .info_list_description 3 шт.
                    .info_list_row
                      .info_list_title
                        .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") Пометка о рекламе
                      .info_list_description Да
                    .info_list_row
                      .info_list_title
                        .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") Анонс на главной
                      .info_list_description Да
                    .info_list_row
                      .info_list_title
                        .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") Вечное размещение
                      .info_list_description Да
                .info_list_column
                  .info_list_body
                    .info_list_row
                      .info_list_title
                        .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") Скорость размещения
                      .info_list_description 1 день
                    .info_list_row
                      .info_list_title
                        .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") Без email-рассылки
                      .info_list_description Нет
                    .info_list_row
                      .info_list_title
                        .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") Несколько языковых версий
                      .info_list_description Да
                    .info_list_row
                      .info_list_title
                        .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") Без репостов в соц.сетях
                      .info_list_description Нет



          .wrapper_row
            
            .terms_wrapper.info_list
              .info_list_head Технические параметры
              .list_body_wrapper
                .info_list_column
                  .info_list_body
                    .info_list_row
                      .info_list_title
                        .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") Траст
                      .info_list_description 3 шт.
                    .info_list_row
                      .info_list_title
                        .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") Спам
                      .info_list_description Да
                    .info_list_row
                      .info_list_title
                        .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") Посещаемость
                      .info_list_description Да
                    .info_list_row
                      .info_list_title
                        .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") ИКС
                      .info_list_description Да
                .info_list_column
                  .info_list_body
                    .info_list_row
                      .info_list_title
                        .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") Alexa Traffic Rank
                      .info_list_description 1 день
                    .info_list_row
                      .info_list_title
                        .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") Индекс Google
                      .info_list_description Нет
                    .info_list_row
                      .info_list_title
                        .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") SF
                      .info_list_description Да
                    .info_list_row
                      .info_list_title
                        .title_wrap.jsTooltip(data-pt-title="Начни учиться еще быстрее с неограниченным доступом к ответам от экспертов") TF
                      .info_list_description Нет




    .b_also_choose
      .page_title_wrapper
        .container

          .title_wrapper
            .page_title Также выбирают
      
      .container

        .product_slider.custom_slider.jsAlsoChoose

          .slide_item
            a.product_wrapper(href="#")
              .product_image(style="background-image: url('images/product_image.jpg');")
              .product_title Korrespondent.net

          .slide_item
            a.product_wrapper(href="#")
              .product_image(style="background-image: url('images/product_image.jpg');")
              .product_title Korrespondent.net

          .slide_item
            a.product_wrapper(href="#")
              .product_image(style="background-image: url('images/product_image.jpg');")
              .product_title Korrespondent.net

          .slide_item
            a.product_wrapper(href="#")
              .product_image(style="background-image: url('images/product_image.jpg');")
              .product_title Korrespondent.net
