extends layouts/default

block content
  main
    
    .b_breadcrumbs
      .container
        .breadcrumbs_wrapper
          ul
            li
              a(href="#") Главная
            li Политика конфиденциальности
    

    .b_single_page
      
      .page_title_wrapper
        .container
          .page_title Политика конфиденциальности

      .container

        .single_page
          .content_wrapper
            .content

              img(src="images/single_image.jpg", alt="")

              p Идеальный инструмент для распространения PR-контента в нужное время. Контролируйте присутствие и определяйте идеальные моменты для публикации PR-материалов и распространения. Дружественный интерфейс поможет добавить пресс-релиз, загрузить и прикрепить видео и распространить пресс-релиз в интернете. Больше никакой рутины по электронной почте. Всё в одном удобном Пресс-Центре.

              h3 Политика конфиденциальности

              p Идеальный инструмент для распространения PR-контента в нужное время. Контролируйте присутствие и определяйте идеальные моменты для публикации PR-материалов и распространения. Дружественный интерфейс поможет добавить пресс-релиз, загрузить и прикрепить видео и распространить пресс-релиз в интернете. Больше никакой рутины по электронной почте. Всё в одном удобном Пресс-Центре.

              ul
                li Маркированный пункт
                li Маркированный пункт
                li Маркированный пункт
                li Маркированный пункт
                li Маркированный пункт
                li Маркированный пункт
                li Маркированный пункт
              
              h3 Политика конфиденциальности

              p Идеальный инструмент для распространения PR-контента в нужное время. Контролируйте присутствие и определяйте идеальные моменты для публикации PR-материалов и распространения. Дружественный интерфейс поможет добавить пресс-релиз, загрузить и прикрепить видео и распространить пресс-релиз в интернете. Больше никакой рутины по электронной почте. Всё в одном удобном Пресс-Центре.

            
            
            .overflow_block.jsCustomScrollbarX
              table
                thead
                  tr
                    th Цена размещения
                    th Цена написания
                    th Регион
                    th Посещаемость
                    th Тематика
                
                tbody
                  tr
                    td 100 000 грн.
                    td 100 грн.
                    td Ивано-Франковск
                    td 1 мил.
                    td Финансы и кредит
                  tr
                    td 100 000 грн.
                    td 100 грн.
                    td Ивано-Франковск
                    td 1 мил.
                    td Финансы и кредит
                  tr
                    td 100 000 грн.
                    td 100 грн.
                    td Ивано-Франковск
                    td 1 мил.
                    td Финансы и кредит






